[2011-06-17 18:57] quark-zju opened #1 "G++ 将不再支持非整数类静态常量类内直接初始化"
http://gcc.gnu.org/onlinedocs/gcc/Deprecated-Features.html 提到了：
G++ allows static data members of const floating-point type to be declared with an initializer in a class definition. The standard only allows initializers for static members of const integral types and const enumeration types so this extension has been deprecated and will be removed from a future version.

在 phrase_lookup.h 和 pinyin_

[2011-08-26 08:13] #1 closed, assigned to epico

[2011-12-22 06:28] YangtseSu opened #3 "编译出错了。gen_unigram段错误。"
[code]

[2011-12-22 18:00] wengxt opened #4 "pinyin_translate_token Meaningless Return Value"
bool retval = context->m_phrase_index->get_phrase_item(token, item);

get_phrase_item don't use bool as return value. Should be something like "== ERROR_OK" ?

[2011-12-22 18:06] wengxt opened #5 "Document neeeded."
Please give out some document to use this library. Something like doxygen would be useful.

[2011-12-29 02:31] #3 closed, assigned to epico

[2011-12-29 02:31] #4 closed, assigned to epico

[2012-01-04 05:00] wengxt opened #6 "bug in in_chewing_scheme"
should return true after check if (search_chewing_tones(m_tone_table, key, &tone))

[code]

[2012-01-04 05:37] wengxt opened #7 "cannot parse "ㄓ" as "zhi" in chewing"
"ㄓ" will result as "zh" but not "zhi".

also for "ㄔ" "ㄕ" "ㄖ" "ㄗ" "ㄘ" "ㄙ".

[2012-01-04 06:25] wengxt opened #8 "provide separate data for Traditional Chinese"
libpinyin should provide tradition chinese data, with theirs own language model and character. Using opencc is not a perfect solution, and opencc cannot provides different characters which are both available in Traditional Chinese, such as 台 and 臺.

[2012-01-05 02:40] #6 closed, assigned to epico

[2012-01-05 06:32] #7 closed, assigned to epico

[2012-02-01 00:43] happyaron opened #9 "import_interpolation and gen_unigram: segfaults and manpages"
While testing and trying to package libpinyin for Debian, I found that import_interpolation and gen_unigram appears to segfault when run.

I know this is by design, that gen_binary_files should be used beforehand, but anyway this is getting in its way of entering Debian. A command installed into /usr/bin must not segfaults, and must have a manpage, though the manpage can be very simple.

Please no

[2012-02-01 00:52] happyaron opened #10 "data files: need to be moved under $(libdir)"
Because data files under /usr/share/libpinyin/data/ are all endianness sensitive, they need to be moved to /usr/lib. They are very welcomed to be present at $(libdir)/libpinyin/data, since this would help a lot to satisfy the requirements of Multiarch Specification[1] to make different architecture's files co-installable within a single system.

Again, please make a release earlier so we can catch

[2012-02-04 08:17] happyaron opened #11 "Failed to build with -Werror=format-security"
libpinyin 0.5.0 failed to build when following C(XX)FLAGS are set:

CFLAGS=-g -O2 -Wformat -Wformat-security -Werror=format-security
CXXLAGS=-g -O2 -Wformat -Wformat-security -Werror=format-security

Because I was building it in another machine, log message has lost, but the problem should be easy enough to reproduce.

[2012-02-09 04:29] #11 closed, assigned to epico

[2012-02-14 02:46] #10 closed, assigned to epico

[2012-02-14 02:47] #9 closed, assigned to epico

[2012-03-11 14:45] yshui opened #12 "pinyin_save hangs if the user.db is corrupted."
libpinyin should handle error more gracefully.....

The hang is at pinyin::Bigram::save_db(), tmp_db->open()

[2012-03-30 03:58] weideng opened #13 "configure error"
I tried to install it on ubuntu ,there is an configure error when running "./configure":  Cannot find Berkeley DB library version 4. Actually I have installed it with "apt -get install libdb4.7-dev".

[2012-05-08 10:34] #13 closed, assigned to epico

[2012-05-20 05:37] wengxt opened #14 "don't use ENODATA in import_interpolation.cpp"
1. It's undocumented thus meaningless, exit(1) will work.
2. ENODATA doesn't exist on some system, e.g kfreebsd.

https://buildd.debian.org/status/fetch.php?pkg=libpinyin&arch=kfreebsd-i386&ver=0.5.92-1&stamp=1337480524

[2012-05-26 06:28] wengxt opened #15 "Bug with resplit table?"
I'm using pinyin_set_options with USE_RESPLIT_TABLE.

And with xian, I get following candidates

先，西安，西岸，锡安，……

when I using pinyin_choose_full_pinyin_candidate with 锡安，the pinyin_guess_sentence will provide 西安.

[2012-05-26 06:31] wengxt opened #16 "pinyin_get_candidates and pinyin_choose_candidate are deprecated?"
pinyin_get_candidates and pinyin_choose_candidate now seems to have corresponding "full_pinyin" version (though work with both chewing and pinyin).

But the old version pinyin_get_candidates will cause "dead loop" in 0.6.91.

By the way, since the ABI is break (at least for struct "pinyin_instance_t"), please bump the so version.

[2012-05-27 16:47] wzssyqa opened #17 "libpinyin 0.6.91 failed to build on armel"
It build ok on near every arch of Debian except armel.

https://buildd.debian.org/status/package.php?p=libpinyin

[2012-05-31 04:08] #14 closed, assigned to epico

[2012-05-31 04:08] #12 closed, assigned to epico

[2012-06-16 02:58] wengxt opened #18 "Wrong PinyinKeyPos when using divide table"
Type xianjiaotongdaxue, then choose "西安"

The second PinyinKeyPos will automatically change to begin=3 and end=5, which is wrong, which should be begin=2 and end=4, seems libpinyin use "xi'an" as raw key, but actually passed in raw key is without separator '.

[2012-07-05 03:26] #16 closed, assigned to epico

[2012-07-25 06:53] alick opened #20 "fail to build with cmake"
Building the HEAD version(3f74e38f850f232c7b2637a4b70adc8ab9e0b903) with CMake fails with the error:

It seems the cmake stuff hasn't been updated for a long time.
The software version in CMakeLists.txt says 0.2.99.

[2012-07-27 06:02] #15 closed, assigned to epico

[2012-07-27 06:03] #18 closed, assigned to epico

[2012-07-27 08:53] wengxt opened #21 "pinyin_add_phrase result looks strange."
call with following sequence

import_iterator_t\* iter = pinyin_begin_add_phrases(context, 15);
pinyin_iterator_add_phrase(iter, hz, libpinyin->inst->m_raw_full_pinyin, -1);
pinyin_end_add_phrases(iter);

hz is 灼眼的夏娜
pinyin is zhuoyandexiana.

after that, "zhuoyandexiana" cannnot give the correct candidate as usual, and the word doesn't seem to be saved.

[2012-07-30 05:25] m13253 opened #22 "输入拼音之后删除的问题"
我使用 ibus 配合 libpinyin 工作。
当我输入拼音之后再按退格键删除拼音之后，选字框仍然留在屏幕上。
我的 libpinyin 版本是 0.6.92-1，ibus-libpinyin 版本是 1.4.1-1。

[2012-08-02 06:25] wengxt opened #23 "Add API for lookup Chinese character pronunciation"
input : utf8 string with one character,
return: Chewing key array with all possible pronunciation

[2012-08-03 03:14] JiajunW opened #24 "Could you provide tarball without the data file"
Since every tarball contains the data file (which is also provided by model.text.tar.gz), it becomes really big... But the data file rarely changed.

Could you provided the src-only tarball so we do not need to download the 10MB file everytime when updating.

[2012-08-07 01:53] #22 closed, assigned to epico

[2012-08-07 01:54] #21 closed, assigned to epico

[2012-08-08 10:10] #20 closed, assigned to epico

[2012-08-09 02:30] m13253 opened #25 "Issue of typing English words starting with 'v' or 'u' by using Enter key"
For example, I type 'video', and press Enter, I got 'ideo', type 'ubuntu', and press Enter, I got 'buntu'. That should be wrong.

[2012-08-16 05:39] #25 closed, assigned to epico

[2012-08-23 10:31] wengxt opened #26 "pinyin_lookup_token return result is wrong"
result might be SEARCH_OK | SEARCH_CONTINUE, which should return true for this function.

Well.. at this workaround-able at this time.

[2012-09-18 04:44] #26 closed, assigned to epico

[2012-09-18 04:45] #24 closed, assigned to epico

[2012-10-03 04:40] ekd123 opened #27 "RFC: support for making user's own table"
Just like title said. :-)

For example:
`韻 yonh`

There should be difference between ShengMu & YunMu as well, like `k yonh` -> `廣韻`。

[2012-10-22 15:14] ghost opened #29 "Sqlite vs BDB"
for bigram class, we can use sqlite instead BDB, this will be very convenient for Android or other mobile devices.

[2012-11-21 08:36] hugangling opened #30 "Issue about pinyin_train()"
[code]

words changes so that the word that users use the most shows in a priority position in candidate words queue.
    But train_result2() seems not work properly. If the constraint->m_type is always NO_CONSTRAINT,
the frequency will never change.
    I have tried to change the variable train_next to true. It works. But I'm not sure it is a good solution.
    Could you please update the code ab

[2012-12-04 02:45] #30 closed, assigned to epico

[2012-12-17 03:51] #29 closed, assigned to nobody

[2013-01-30 02:53] cicku opened #31 "一个奇怪的问题"
我现在想要输入：

我不清楚诶(wobuqingchuei)

结果拼音把我的改为：

我不轻吹(wobuqingchui)

那个e怎么没了？

[2013-01-31 03:01] mahiuchun opened #32 "Add bindings for other programming languages"
Having language binding for Python, Java, ... would be nice.
BTW, the exported API is defined in src/pinyin.h, right?

[2013-02-16 16:36] fundawang opened #33 "Wrong flags used in configure.in and Makefile.ams"
In configure.ac, there is:

GLIB2_CPPFLAGS=`$PKG_CONFIG --cflags glib-2.0`
GLIB2_LDFLAGS=`$PKG_CONFIG --libs glib-2.0`

But it is not correct, for libibus is acturally a c only libs, it's of no use to specify CPPFLAGS, And the macro PKG_CHECK_MODULES acturally defines GLIB2_CFLAGS and GLIB2_LIBS which could be used in Makefile.am files.

Patch here:
http://svnweb.mageia.org/packages/cauldron/libpi

[2013-02-19 16:16] yshui opened #34 "双拼的韵母很奇怪"
比如wz会变成wuei而不是wei，xr会变成xvan而不是xuan。

选词倒是没错，但是这样一来fcitx的cloudpinyin给出的结果就会错。

[2013-02-22 07:08] #31 closed, assigned to epico

[2013-03-04 06:28] #23 closed, assigned to epico

[2013-03-05 06:15] #33 closed, assigned to epico

[2013-03-09 00:17] wengxt opened #35 "some dictionary name is hard coded when doing the generation"
This is quite non-sense.

If you want to generate from special file, you should specify the file name from command line instead.

[2013-03-09 00:18] wengxt opened #36 "clear_constraint is removed from api and it break fcitx-libpinyin"
As far as I can see all this function need it still inside the internal library, could you add that back?

I look around all the api and didn't find any equivalent.

[2013-03-09 00:19] wengxt opened #37 "ChewingKey's function are not callable since they are not visible."
So basically there is some API which "looks" visable, but actually non visible.

Please solve this by expose them, or add C API for them.

[2013-03-09 00:27] wengxt opened #38 "Do not pollute the name space."
This is only a bad coding style problem, though not very important right now.

pinyin.h contains a using namespace pinyin, which will introduce an additional c++ namespace.

[2013-03-14 03:20] #34 closed, assigned to epico

[2013-03-14 07:35] #5 closed, assigned to epico

[2013-03-14 07:37] #17 closed, assigned to epico

[2013-03-15 01:14] #37 closed, assigned to nobody

[2013-03-19 02:34] #36 closed, assigned to nobody

[2013-03-19 02:35] #38 closed, assigned to nobody

[2013-03-25 07:45] #27 closed, assigned to epico

[2013-04-13 11:47] cuihaoleo opened #39 "小鹤双拼的零声母问题"
比如ang，用ah打不出来。
ei，用ei/ew都打不出来。

貌似必须像微软一样用 o\* 这种格式。
但小鹤不是这么规定的。

[2013-04-14 16:57] wengxt opened #40 "pinyin_save is useless without instance."
grep through the code, the only place that make context->modified to be true is inside pinyin_train, which requires a instance as an arguement.

While add_phrase obviously modifies the dict, but if you try to do offline import, pinyin_save will do nothing.

[2013-04-16 10:57] dongfengweixiao opened #41 "上/下一页箭头在某些情况下会丢失"
OS:Archlinux(Linux dee 3.8.7-1-ARCH #1 SMP PREEMPT Sat Apr 13 12:52:41 CEST 2013 i686 GNU/Linux)
Desktop:Gnome3.8

举例:输入women,点击.进入下一页,在最右边会出现上一页跟下一页的箭头,但是点击到第三次,箭头就消失了.

[2013-05-02 03:15] #35 closed, assigned to epico

[2013-05-02 03:15] #40 closed, assigned to epico

[2013-05-02 03:18] #39 closed, assigned to epico

[2013-05-02 11:27] dongfengweixiao opened #42 "撤销上词的错误"
比如,我输入了:womendoushihaohaizi,然后按2确定上词"我们",这时,首个候选词就成了"都是好孩子".
这时候,万一发现其实"我们"输入错误,比如我想要输入"他们都是好孩子".那么,我势必是需要删除"我们",于是,这里我会点击删除,然后输入"他们",但是可惜的是,我只能输入"tamen",但是却不能确定选择那个汉字,因为候选字列表依旧是"都是好孩子".

[2013-07-03 12:02] ghost opened #43 "Some characters cannot be inputted?"
Some characters are in both GBK and UTF8, but they are not included in libpinyin.

Currently, I want to input 渃. It is ruo. Its GBK is 9Cc, and UTF8 is %E6%B8%83

Could you please add the character? If you have lack of spare time, is there an easy way to contribute characters for the project?

[2013-08-12 04:15] felixonmars opened #44 "Plan for alternatives of Berkeley DB?"
This is a feature request for some alternatives of berkeley db, as it's decided to be deprecated and may be dropped in the long term by Arch Linux.

[2013-09-26 03:39] zhou13 opened #45 "默认单字“阿”排在“啊”前面。"
这是正常的么？

一般来说“阿”出现率虽然高但是很少打单字……

[2013-10-14 02:08] zhantongz opened #46 "无法找到“单 shan4”这个字"
用的是 fcitx。

[2013-10-29 04:44] #46 closed, assigned to epico

[2013-11-14 02:30] #45 closed, assigned to epico

[2013-11-18 14:16] jason-a-zhang opened #47 "Supporting for "word prediction" in libpinyin"
Currently, in libpinyin, i did not find any interface to do "word prediction". For the function of “word prediction”, It means:
   When I input “Shang” and then select “上”, is there any way to get the
   prediction word(like “海”, “去”…)?
It's normal operation in other pinyin,  is there any plan to support it?

Thanks
Best Regards
Jason ZHANG

[2014-09-30 03:08] #8 closed, assigned to epico

[2014-09-30 03:10] #42 closed, assigned to epico

[2014-09-30 03:18] #43 closed, assigned to epico

[2014-10-03 13:10] dongfengweixiao opened #48 "Gnome 3.14 中ibus不能光标跟随"
RT

[2014-12-08 09:23] passchaos opened #49 "ibus-libpinyin怎么保存个人词库以便重装？"
libpinyin的默认词库太烂了，怎么才能保存自己的词库，将来重装系统后恢复词库？

[2014-12-09 02:38] #49 closed, assigned to epico

[2015-02-04 05:41] epico commented on #49
ibus-libpinyin 1.6.99.20150203 已发布，
请先打开 "将每个输入记录为新的词汇" 选项，
打开之后，输入的新短语即可通过 "导出" 功能导出。

[2015-02-08 05:18] wengxt opened #50 "fcitx-libpinyin relays on the binary tools of libpinyin."
Hope it's not removed.

This would remove a feature from fcitx-libpinyin, thanks.

[2015-02-08 19:22] 1dot75cm commented on #50
https://github.com/epico/libpinyin/issues/5#issuecomment-73201042
epico 说：

[2015-02-09 03:13] wengxt commented on #50
That's irrelavent. There's no guarantee that libzhuyin shares same data format as libpinyin. So even I'd like to use zhuyin's data, I will need to generate it with libpinyin's tool.

fcitx-libpinyin can use Traditional Chinese data with pinyin, not only for zhuyin.

[2015-02-09 04:04] epico commented on #50
After discussed with Xuetian Weng, will temporarily restore libpinyin tools in the next release.

[2015-03-05 06:54] epico commented on #50
libpinyin 1.1.0 restored the tools.

[2015-03-05 06:54] #50 closed

[2015-04-22 03:25] epico commented on #44
Draft code landed on https://github.com/epico/libpinyin .
Support to use Kyoto Cabinet now.

[2015-04-22 05:41] felixonmars commented on #44
Thanks a lot! I'll try it.

[2015-07-14 08:02] felixonmars commented on #44
Feature request: Would it be possible to have a migration tool, so users using bdb can safely migrate their config folder? Preferably with auto-detection etc, but a simple command line tool could be enough if that's too complicated.

Thanks!

[2015-07-14 08:13] epico commented on #44
Could you open a new issue for RFE?

[2015-07-14 08:38] felixonmars opened #51 "{Feature Request} BDB -> Kyoto Cabinet Migration Tool"
(Splitted from #44)

Would it be possible to have a migration tool, so users using bdb can safely migrate their config folder? Preferably with auto-detection etc, but a simple command line tool could be enough if that's too complicated.

Thanks!

[2015-07-14 08:38] felixonmars commented on #44
Opened as #51, closing this one. Thanks!

[2015-07-14 08:38] #44 closed

[2015-07-17 07:04] epico commented on #51
Draft code is on https://pwu.fedorapeople.org/bdbtokyotodb/ .

BTW, not test it yet.

As the tools requires both DBM to compile, I won't merge it into libpinyin for now.

[2015-10-05 06:13] hykwok opened #53 "How to build the library"
I could use cmake to generate the Makefile but I could not build the source codes because the <config.h> was missing.
So, what's the requirement of this library? And how to build the library?
Thanks

[2015-10-06 01:17] hykwok commented on #53
I found the solution from the wiki:
https://github.com/libpinyin/libpinyin/wiki/libpinyin-playground.
However, the command should be "./autogen.sh" rather than "./configure".

[2015-10-06 01:17] #53 closed

[2015-10-08 06:51] epico commented on #53
Please use "./autogen.sh", the autotool is the default build system. :)

[2015-10-24 09:12] #48 closed

[2015-10-24 09:13] #41 closed

[2015-10-24 09:14] #51 closed

[2015-10-24 09:15] #47 closed

[2015-11-13 01:42] hillwoodroc opened #54 "拼音错误"
键入 ge ，会出现“名”的提示，键入 guang ，会出现“观”的提示，键入 a 会出现“拿”的提示。

[2015-11-16 01:59] epico commented on #54
Fixed in  model11.text.tar.gz .

[2015-11-19 03:02] epico commented on #54
As libpinyin 1.2.91 is released, close issue.

[2015-11-19 03:02] #54 closed

[2015-11-20 14:34] zhouxiaobo500 opened #55 "自然码模式中无法输入单韵母字符"
如：爱（ai）、呃（ee）、昂（ah）、嗯（en）等等。
而sunpinyin输入以上内容均正常。

难道有别的输入单韵母方式吗？

[2015-11-23 05:32] epico commented on #55
Fixed in https://github.com/epico/libpinyin/commit/6783bac98e70b14f1c58de63a9dcc9fce919d78c .

[2015-11-27 13:44] zhouxiaobo500 commented on #55
还是没有好ei（打不出来ei）。。

[2015-11-30 07:20] epico commented on #55
这个功能需要 libpinyin 1.2.91 和 上边的 patch ...

[2015-12-03 11:45] zhouxiaobo500 commented on #55
诶，所以说是解决不了了？

[2015-12-04 02:53] epico commented on #55
需要 libpinyin 1.2.91 或者更高的版本。

[2015-12-04 05:58] epico commented on #55
As libpinyin 1.3.0 is released, close issue.

[2015-12-04 05:58] #55 closed

[2015-12-06 03:18] zhouxiaobo500 commented on #55
thx!

[2015-12-08 13:36] zhouxiaobo500 opened #56 "是否有计划加入对形码的支持？"
fcitx内置的自然码中包含了对形码的支持，而内置输入法又缺乏对于外置词库的拓展。
libpinyin能否借鉴fcitx加入对该功能？

[2015-12-09 03:39] epico commented on #56
请问自然码的形码指的是？

[2015-12-09 11:20] zhouxiaobo500 commented on #56
@epico 可以参考官网：http://www.zrm.com.cn/uiysuomy.htm
fcitx用的是一个zrm.mb的码表文件用作定义。

[2015-12-10 01:47] epico commented on #56
谢谢提供文档。

猜测自然码的声形码是通过将单个汉字拆成两部分，通过输入相应部分的声母实现的？

[2015-12-10 12:22] zhouxiaobo500 commented on #56
是的，官方给出的拆字方案较为复杂。
能否将码表文件打开并用作分析？

[2015-12-11 03:38] epico commented on #56
要是我没有记错的话，自然码的声形码是有专利的...

[2015-12-11 09:02] fanple opened #57 "有联想功能吗"
比如输入“中”后，能联想到“中国”，“中间”... ...

这个功能libpinyin是否支持或有计划实现这个功能？

[2015-12-11 13:46] zhouxiaobo500 commented on #56
作为第三方平台，fcitx已经做出第一步了。
如果实在担心版权问题，可以尝试联系自然码的创始人周志农。。

[2015-12-14 03:58] epico commented on #57
libpinyin 已经初步支持, ibus-libpinyin 不支持...

联想功能的相关函数:
pinyin_guess_predicted_candidates
pinyin_choose_predicted_candidate

[2015-12-14 04:04] epico commented on #56
没有联系方式...

另外，如果是码表的话，请使用 ibus-table 项目。

[2015-12-15 14:00] zhouxiaobo500 commented on #56
非常感谢提供的链接！但好像没法使用？
没有ibus-table-createdb命令。

[2015-12-16 04:09] epico commented on #56
ibus-table-createdb 在 ibus-table 的包中。

[2015-12-16 04:14] #56 closed

[2016-01-04 06:34] hillwoodroc opened #59 "libpinyin 的词库能推倒重来过吗？"
当真是很多常用词都打不出来，远不如已经停止开发的 sunpinyin 和 ibus-pinyin，真是严重影响输入效率，目测已经不是小修小补能解决的。

[2016-01-04 07:44] epico commented on #59
请自行导入词库...

或者有符合 GPL 或 CC 协议的词库，我可以合并。

要是我没记错的话，ibus-pinyin 的词库是将词汇的所有可能发音都标注出来...

[2016-01-05 01:39] hillwoodroc commented on #59
举个例子，“立马“这个常用词组，在 ibus-pinyin, sunpinyin, rime 都是能够打出来的，只有 libpinyin 不行，这显然不是是否发发音全部标出来的问题了，而是词库里面缺少这个词组。这样的情况太多了，没办法一一举例了。
libpinyin 是 ibus-pinyin 和 sunpinyin 的融合，算法应该是融合了，但是词库没有融合。ibus-pinyin 和 sunpinyin 词库的授权协议应该是没问题至少是兼容 GPL 的，我一直都觉得用这两个词库都比现在的好，我建议把这两个词库拿来用作基础词库。

[2016-01-06 03:25] epico commented on #59
这个问题我考虑一下。

ibus-pinyin 和 rime 的词库好像是没有拼音的，碰到多音字，会标注所有的拼音的。
sunpinyin 的词库协议是 Apache License Version 2.0。

[2016-06-21 04:27] Novite5 opened #60 "双拼小鹤方案“ao“的输入存在问题"
小鹤应该是直接键入字母 "a" + "o",但 libpinyin 中需要按零声母处理，键入 "o" + "c".

[2016-06-21 06:44] epico commented on #60
这个问题我回来看一下。

记录下小鹤拼音的网址: http://www.flypy.com/pin.html

[2016-06-28 03:16] epico commented on #60
Attempt to fix it in:

https://github.com/epico/libpinyin/commit/88c6d1ac5b6a945730554da7a22e2e7716055bcb

[2016-07-19 03:13] epico commented on #60
As lipinyin 1.5.91 and ibus-libpinyin 1.7.91 are released, close issue.

[2016-07-19 03:13] #60 closed

[2016-07-20 02:12] wengxt opened #61 "pinyin_get_right_pinyin_offset doesn't give correct result for separator"
when input is n'a, idx will be 3 for  pinyin_get_right_pinyin_offset(inst, 0, &idx) .

[2016-07-20 03:53] wengxt opened #62 "pinyin_remember_user_input may abort on certain non-chinese string."
Please make it fail silently in such case.

[2016-07-21 03:49] epico commented on #62
The pinyin_remember_user_input function only accepts Chinese characters.

I prefer not to fix this issue now, as you already work around it.

[2016-07-21 03:56] wengxt commented on #62
Well obviously no, cloudpinyin may return arbitrary unicode character (if they do support emoji or sth).

I mean, isn't it very easy to handle the failure right here? I don't think it's too complex to fix it.
https://github.com/libpinyin/libpinyin/blob/c931de493502be9ac334ae9ab3be96649017f8be/src/pinyin.cpp#L2877

[2016-07-21 06:19] epico commented on #62
Sorry, I forget the emoji unicode.

Fixed in https://github.com/epico/libpinyin/commit/eb08ebb49b4823b17c749cde377c0aa1c6fe76ea .

Please review it, thanks!

[2016-07-21 07:26] epico commented on #61
Fixed in https://github.com/epico/libpinyin/commit/bfe12876720e38a720169ef49a575e2f010a3579 .

[2016-07-21 11:44] edsgerlin commented on #59
我看到libpinyin的license是GPLv2+，那么不如把其升级至GPLv3+，这样就能与Apache 2.0兼容了。之后只要用sunpinyin词库即可。

[2016-07-22 03:14] epico commented on #59
谢谢建议，目前的 libpinyin 1.7 开发计划如下:
1. 升级 License 到 GPLv3+
2. 去除 libpinyin 中的拼音音调
3. 导入 sunpinyin 的词典

为了兼容性，打算仅仅导入缺失的词汇。

[2016-07-22 03:19] edsgerlin commented on #59
很高兴看到这个项目有人用心维护，因为反感fcitx所以一直没有用rime(与ibus兼容性不太好)，ibus-libpinyin是当前ibus下最好用的了。
感谢epico！

[2016-08-03 02:52] epico commented on #61
As libpinyin 1.5.92 is released, close issue.

[2016-08-03 02:52] #61 closed

[2016-08-03 02:53] epico commented on #62
As libpinyin 1.5.92 is released, close issue.

[2016-08-03 02:53] #62 closed

[2016-11-02 02:18] epico commented on #59
open-gram 词典已导入 libpinyin 1.6.91, 关闭 issue.

URL: https://github.com/sunpinyin/open-gram/

[2016-11-02 02:18] #59 closed

[2016-11-04 07:46] felixonmars opened #63 "Assertion error with gen_binary_files 1.6.91"
When trying to build fcitx-libpinyin 0.3.91 with latest libpinyin 1.6.91, I am getting the following assertion error:

[code]

[2016-11-07 03:39] epico commented on #63
Please report this issue to fcitx-libpinyin.

The data files have been updated in libpinyin.

[2016-11-11 07:13] primohan01 opened #64 "make install issue with libpinyin"
Hi,

I was able to successfully build this application but getting below error durint make install.
[  2%] Building CXX object src/lookup/CMakeFiles/lookup.dir/pinyin_lookup2.cpp.o
In file included from /home/mohankhanzode/Downloads/libpinyin-master/src/storage/chewing_large_table2.h:25:0,
                 from /home/mohankhanzode/Downloads/libpinyin-master/src/storage/facade_chewing_table2.h:25,

[2016-11-12 15:25] lantw44 opened #65 "Fail to build on FreeBSD"
There are two problems here:
- `src/storage/kyotodb_utils.h` uses `UINTPTR_MAX`, which is added in C99 and C++11 standard. Clang uses C++98 by default, so the definition is not available even if `stdint.h` or `cstdint` is included, causing compilation error:
[code]
- FreeBSD hides the declaration of `getline` by default. There are several macros that can be used to enable the declaration, includin

[2016-11-14 02:25] epico commented on #64
Please use autoconf instead, cmake files are out of date.

https://github.com/libpinyin/ibus-libpinyin/wiki/Installation

[2016-11-14 02:31] epico commented on #65
Thanks for the report! :)

Could you create a pull request on github?

[2016-11-16 04:48] epico commented on #65
Merged, thanks!

[2016-11-16 04:48] #65 closed

[2016-11-30 01:43] epico commented on #64
Updated cmake files in https://github.com/epico/libpinyin .

[2016-12-02 04:26] epico commented on #64
As libpinyin 1.7.0 is released, close issue.

[2016-12-02 04:26] #64 closed

[2016-12-08 13:42] calucita opened #67 "table.conf"
Hello there,

I've been trying to compile the library but the file data/table.conf does not exist and the build crashes...

Any suggestions?

[2016-12-12 04:56] epico commented on #67
If I remember correctly, libpinyin will download  model14.text.tar.gz automatically.

If not, please download and extract files from:
https://sourceforge.net/projects/libpinyin/files/models/model14.text.tar.gz

[2016-12-14 09:58] #63 closed

[2017-01-12 07:16] Novite5 opened #68 "Build fail on Ubuntu 16.04"
libpinyin-1.7.0
`AX_CXX_COMPILE_STDCXX([11])`in ./configure.ac reported syntax error.
comment this line fix the problem.

[2017-01-12 10:52] KazuhikoMaekawa opened #69 "potential buffer-overrun by fscanf()"
Actually these fscanf functions won't make malformed actions since these functions read only internal given tables. But fscanf() has incorrect format string in the following source files. When array size is
defined with n, fscanf() format should have %(n-1)s. The following fscanf uses same number with
defined array size.

1.  src/storage/chewing_large_table.cpp : line 671

2.   src/storage/phrase_

[2017-01-16 05:14] epico commented on #68
Please try to install autoconf-archive package.

[2017-01-16 06:44] Novite5 commented on #68
This package has already been installed.
As have mentioned, I could sucessfully build libpinyin after commented the code.

[2017-01-16 08:16] epico commented on #68
Right, it is required by FreeBSD.
BTW, The macro is okay on Fedora 25.

Maybe try the latest upstream version: https://www.gnu.org/software/autoconf-archive/ax_cxx_compile_stdcxx.html

[2017-01-17 03:23] epico commented on #69
Sorry, I am busy with some tasks, will fix this later.

[2017-01-17 08:34] Novite5 commented on #68
After upgraded autoconf-archive to version 20160320 and above[https://answers.launchpad.net/~gnome3-team/+archive/ubuntu/gnome3-staging/+build/10988793](url)
problem solved.

[2017-01-17 08:34] #68 closed

[2017-01-22 04:07] heycam opened #70 "support Taiwanese pronunciations"
It would be great if libpinyin could optionally support Taiwanese pronunciations, for example I want to type "lese" rather than "laji" for "垃圾".  I don't know whether the data sources you are using make this easy.

[2017-01-22 05:02] epico commented on #70
Please try libzhuyin and ibus-libzhuyin, thanks!

URL: https://github.com/libzhuyin/

[2017-01-22 10:46] heycam commented on #70
I wish I knew how to type zhuyin but unfortunately I don't. :-)  Maybe we could convert the zhuyin data to pinyin for this?

[2017-01-23 03:03] epico commented on #70
Actually ibus-libzhuyin support pinyin with tone.

Please change the "Keyboard Layout" to "Hanyu Pinyin".

[2017-02-05 18:03] alipbiz opened #71 "transplant into iOS"
How to transplant this project to use in the iOS as custom keyboard?
Any hints or guidelines?
Thanks

[2017-02-06 04:40] epico commented on #71
Thanks for interested in libpinyin for iOS.

Here are some hints for compiling libpinyin:
1. libpinyin requires Berkeley DB or Kyoto Cabinet, please compile one first
2. libpinyin can be compiled by autotools or cmake
3. please try to use cmake to compile it, maybe need some tweaks in CMakeLists.txt

I can help to compile libpinyin and explain how to use the libpinyin API in pinyin.h on iOS,
but y

[2017-02-09 14:44] alipbiz commented on #71
Thank you for your reply, I do not know too much about cmake, I have tried sunpinyin, libpinyin cross compile and transplant iOS through cmake, many problems encountered, CMakeLists.txt
How to modify how to adjust the unfamiliar, iOS supporting multi language project custom keyboard basically completed,word association completed the input of Uyghur, Kazakh, Kyrgyz language, English does not suppor

[2017-02-10 08:30] epico commented on #71
Feel free to contact me for issues! ;-)

[2017-02-13 14:11] alipbiz commented on #71
thank you

[2017-02-25 01:52] xhebox opened #72 "configure.ac: AX_CXX_COMPILE_STDCXX(11) is wrong"
[code]
from [archlinux](https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/libpinyin); correct macro from [gnu](https://www.gnu.org/software/autoconf-archive/ax_cxx_compile_stdcxx_11.html)

or correct usage from [glib](https://mail.gnome.org/archives/commits-list/2016-January/msg00668.html):
[code]

竟然一直没人报这个bug...

[2017-02-26 04:42] xhebox opened #73 "assertion failed in pinyin.cpp with shuangping when typing 'er 而"
[code]
got it working with an ugly hack, hope this could help you save time of debugging:
[code]

[2017-02-27 03:26] epico commented on #72
Please update the autoconf-archive package.

See #68.

[2017-02-27 04:33] epico commented on #73
Which input method do you use ibus-libpinyin or fcitx-libpinyin?

[2017-02-27 06:14] epico commented on #73
Thanks very much for the report!

Fixed in https://github.com/epico/libpinyin/commit/758c5b312b36f440224cb6cbe4b363322d98b305 .

Please review it.

[2017-03-03 11:03] xhebox commented on #73
perfect

[2017-03-03 11:03] #73 closed

[2017-03-03 11:17] xhebox commented on #72
@epico Just a comment, my issue is solved. I just recommend you to replace it with a portable way, but it's ok if you prefer using autoconf-archive:

Actually i have not installed autoconf-archive package. It seems that the only macro from autoconf-archive is this one(build was not broke by missing autoconf-archive except this macro).

Why not use the original method of autoconf, so we can throw t

[2017-03-03 11:17] #72 closed

[2017-03-06 03:12] epico commented on #72
Please read the content of AX_CXX_COMPILE_STDCXX_11 macro.

It still needs to use the AX_CXX_COMPILE_STDCXX macro.

[2017-03-06 05:05] xhebox commented on #72
@epico Yes, you didn't get my idea clearly. It should be `AX_CXX_COMPILE_STDCXX([11], [noext], [mandatory])` without autoconf-archive, **this macro exists in the native autoconf even without autoconf-archive. But autoconf-archive packed the macro so that you can invoke the macro with only one parameter instead of three parameters**. Why not add the other two parameters so that we can throw the aut

[2017-03-13 03:22] epico commented on #72
Fixed in https://github.com/epico/libpinyin .

I just import the AX_CXX_COMPILE_STDCXX macro into git repo.

[2017-03-13 04:56] xhebox commented on #72
nice job! :+1:

[2017-04-20 15:38] felixonmars opened #74 "user_phrase_index.bin and user_pinyin_index.bin were cleared after switching from bdb to kyotocabinet"
I have a quick look of the code, and it seems these two main user phrase dbs are using FacadePhraseTable3. After switching from berkeley db to kyoto cabinet, the two files were cleared an all user generated phrases were lost. The tool bdbtokyotodb doesn't seem to work on these two files but only user_bigram.db, which I have tried to convert but doesn't seem to make a difference. Any hints here?

[2017-04-21 08:08] epico commented on #74
libpinyin will clear data when update.

I suggest to clear user data when upgrading, or some difficult bugs will appear.

[2017-04-21 15:39] felixonmars commented on #74
I see. So is kyotodbtobdb still useful in the process?

[2017-04-24 06:47] epico commented on #74
I think libpinyin will only clear data when needed, like file format or data changes.

kyotodbtobdb only works when no file format or data changes.

[2017-04-24 07:17] epico commented on #74
I think libpinyin doesn't change during 1.9.92 -> 2.0.0.

But the kyotodbtobdb may be old, not able to handle the data file.

[2017-05-03 02:46] epico commented on #74
I updated bdbtokyotodb, but without tests.
URL: https://pwu.fedorapeople.org/bdbtokyotodb/

[2017-08-02 16:23] cherrot opened #76 "能否调整模糊拼音的出词“规则”？"
没找到有人提过相似问题。当输入模糊音（比如`xian`）时，我希望能够按照如下规则出词：
1. 优先匹配词组，比如`西安`，`锡安`等。
2. 如果用户没有明确输入切音符（单引号`'`），那么优先按照`xian`的发音出字
3. `xian`枚举完以后，再按`xi'an`出字，也就是先选`xi`，再选`an`

目前libpinyin满足1，但2和3是按照全局的词频出字的：

![image](https://user-images.githubusercontent.com/964629/28883473-315eb366-77e1-11e7-9a73-5ceaa31e2936.png)
![image](https://user-images.githubusercontent.com/964629/28883489-3f0a0010-77e1-11e7-997c-f441918b1c

[2017-08-03 04:15] epico commented on #76
"xian" 的候选字太多，如果用户想选择 "xi" 的话需要翻很多页。
iOS 好像也是只按照词频排序的，"xian" 和 "xi" 的结果混合在一起。
这样的话，可以不用输入 " ' ".

[2017-08-03 05:45] ping-wu commented on #76
我打入xi'an，出来的就是西安，如附图：
![selection_089](https://user-images.githubusercontent.com/21325422/28907657-efc1db84-77ba-11e7-8262-113701ca929b.jpg)

註：我使用的是ibus-pinyin 而不是 ibus-libpinyin

[2017-08-03 05:59] cherrot commented on #76
@epico 但我依然觉得这应该由用户来决定。 `xian`和`xi`的候选字都太多，如果想快速输入`xi`，显式的输入`xi'an`并不是很难培养的习惯。

@ping-wu  没错，在我陈述的规则里，libpinyin满足1. 但不满足2和3，我觉得2和3比较影响使用体验。

[2017-08-03 06:03] epico commented on #76
也许可以给 ibus-libpinyin 添加个选项。。。

[2017-08-04 01:46] ping-wu opened #77 "是否有适合ibus-libpinyin的词汇？"
如题。

我使用ibus-pinyin时，可以利用一个 pinyin-database (SQLite），非常顺。

如何将这个词汇转成可以让ibus-libpinyin使用？

[2017-08-04 04:37] epico commented on #77
ibus-libpinyin 可以导入文本格式的词库，在 “首选项” 对话框的 “用户数据” 页面，
文本词库格式在下方有说明。

[2017-08-05 18:43] ping-wu commented on #77
ibus-libpinyin里，提供了一套不同领域的字典，让使用者选择：

​不过我打勾以后，发现并没有任何改变。

是否这只是为以后的功能，预留的namespace?

On Thu, Aug 3, 2017 at 6:37 PM, Peng Wu <notifications@github.com> wrote:

[2017-08-07 04:48] epico commented on #77
其实那些词库是算法生成的，词汇量很小。

[2017-08-13 08:21] cherrot commented on #76
那`fcitx-libpinyin`也可以受益吗？

[2017-08-13 18:33] ping-wu commented on #77
装设Fedora以后，在 ~/.cache/ibus/libpinyin 会产生一个 user_bigram.db 这个档案，超过 6M bytes。
很显然，这就是ibus-libpinyin使用者自己创造出来的词汇。

不过为什么一下子就会跳到6M呢？ Google不出来对这个档案的解释。
另外，使用一阵子以后，能不能把它放到/usr/share . . . 里？

[2017-08-14 04:46] epico commented on #76
应该可以，但是需要修改代码。。。

我先看看如何在 libpinyin 中实现。。。

[2017-08-14 04:49] epico commented on #77
那个文件是 Kyoto Cabinet 格式的，好像是 Kyoto Cabinet 默认大小，不影响使用的。

/usr/share 是只读的，而且是多用户共享的，无法放入。

[2017-08-15 03:59] ping-wu commented on #77
ibus-libpinyin 的词汇，跟ibus-pinyin比起来，实在差太多了。因为这个缘故，ibus-pinyin好用多了。

不过这个说法，只是在Ubuntu里有效。Fedora的套件库里，没有pinyin-database这个套件，因此两者都是很awkward的中文输入引擎。

[2017-08-15 04:42] epico commented on #77
libpinyin 在 Ubuntu 的版本太低了。

[2017-08-15 04:46] epico commented on #77
词库是有版权的，用户可以选择自己喜欢的输入法，有多个输入法也是好事。

[2017-08-20 12:20] ksqsf opened #78 "Can I use libpinyin to get pinyin of Chinese words?"
Like, convert 你好 to ni'hao. Is it possible with libpinyin?

[2017-08-22 07:27] epico commented on #78
以下函数可以帮助查询汉字的拼音:
pinyin_lookup_tokens
pinyin_token_get_n_pronunciation
pinyin_token_get_nth_pronunciation
pinyin_get_pinyin_string
...

注意对于多音字，libpinyin 无法正确转换。

[2017-08-23 06:56] epico commented on #76
此特性已进入 https://github.com/epico/libpinyin/ .

方便的话，请给 fcitx-libpinyin 开 issue, 更新 pinyin_guess_candidates 的使用。

[2017-08-23 07:07] cherrot commented on #76
https://github.com/epico/libpinyin/commit/bc600e1d24e543c82bb6acf35d2195d50dbf5495 ?

[2017-08-23 07:18] ksqsf commented on #78
Thanks for your kind reply.

[2017-08-23 07:18] #78 closed

[2017-08-23 07:32] epico commented on #76
Yes.

[2017-12-01 03:59] jadahl commented on #70
Does ibus-libzhuyin support pinyin without tones?

Is there a way to have both Pinyin and Zhuyin as selectable input methods without having to go into settings and changing the layout? I can do this on Android (switch between pinyin, bopomofo, etc easily) and I'd like to be able to do this using ibus too (via GNOME).

[2017-12-01 05:16] epico commented on #70
No, ibus-libzhuyin have to input pinyin with tone.

Maybe we can let ibus-libzhuyin input pinyin without tone.
Is this okay for you?

[2017-12-01 06:18] jadahl commented on #70
Is this okay for you?

Personally, that'd be a improvement regarding pinyin input.

From a discoverability perspective changing it to be a separate input method would be another improvement however, so that a user coming from for example Fedora/RHEL using GNOME can immediately find "Pinyin", instead having to google and find this issue in order to configure the input method.

[2017-12-01 07:34] epico commented on #70
Sorry, I understand your question now. ;)

There are "Intelligent Pinyin" and "Bopomofo" in ibus-libpinyin already.

Please just add "Bopomofo" engine.

I may not change ibus-libzhuyin for now.

[2017-12-01 09:05] ping-wu commented on #70
I think the most important priority right now should be to add a decent database.

I am running Fedora 27, and, compared to my previous experience, ibus-libpinyin has indeed improved greatly.  But occasionally I still had to flip several pages to find the word I want.

BTW, I recently found out that I couldn't type the word "註“ ("zhu") using ibus-libpinyin.  Is there any way to add words to the da

[2017-12-01 09:26] epico commented on #70
ibus-libpinyin allows to import third party dictionary in setup dialog.

[2017-12-01 09:36] ping-wu commented on #70
How & which one?

[2017-12-01 11:27] epico commented on #70
Launch "Intelligent Pinyin" setup dialog, in the page of "User data",
click the "Import" button to import some dictionary file.

The dictionary format is described in the help section of the page.

[2017-12-01 17:26] ping-wu commented on #70
I have asked the same question before, but always received the same response.  Not too much help obviously.

This is just like someone asks the question of "how do I get from Beijing to Tianjin"? "Take the high speed train".

Correct answer of course, but I already know it.  The gist of the question of "how" was never answered.  Nor did it offer any substantive help.  A simple map showing the trai

[2017-12-01 22:56] ping-wu commented on #70
heycam said:

"Theoretically" this should be easily done.  You just type out a file which contains the following line:

垃圾 le'se

then import this file into ibus-libpinyin.

However, there currently appears to be a bug; after importing the above file, I typed "lese", there is still no "垃圾" in the list of candidates.

[2017-12-04 01:40] hillwoodroc opened #79 "麻烦修正一下“给水”的读音"
“给水”读作jǐshuǐ，不是gěishuǐ，libpinyin 的词库读音是错的。

[2017-12-04 06:25] ping-wu commented on #79
先建立一个档案，包括下面一行：
. . .
给水  ji'shui

然后到 ibus-libpinyin -> preference -> import

退出再进入 ibus-libpinyin，打入 jishui 后， “给水” 就会出现在选择栏。

[2017-12-06 02:04] epico commented on #79
I will fix it in the next release.

[2017-12-07 02:47] qiangzhao opened #80 "请问如何用gdb分析libpinyin"
您好：

libpinyin在我的桌面有时崩溃，所以我希望使用gdb分析其崩溃原因。
但是libpinyin是由ibus->ibus-libpinyin->libpinyin调用运行的，所以事先无从知晓libpinyin的启动点；由于崩溃，亦不可知其pid；请问如何抓到这个进程？

另外，由于libpinyin是在同时按下"Compose key + Space key"，令输入法切换到指定输入引擎时启动的：有什么命令行的方法可以模拟libpinyin的这一启动过程吗？

[2017-12-07 03:21] epico commented on #80
其实我是按照如下方法调试的:

1. 编译 ibus-libpinyin 的 git repo
2. kill 所有的 /usr/libexec/ibus-engine-libpinyin 进程
3. 用 gdb 打开 git repo 中的 ibus-engine-libpinyin 程序
4. 在 gdb 中，启动 ibus-engine-libpinyin 并带有 "--ibus" 参数
5. 切换到 "Intelligent Pinyin" 即可开始调试

顺便说一句，在 Fedora 中，有 gnome-abrt 捕捉崩溃比较容易。

[2017-12-07 06:16] qiangzhao commented on #80
十分感谢，我准备按照这个方法尝试一下

[2017-12-07 11:39] #80 closed

[2017-12-21 03:58] bdfish opened #81 "compile error"
[log.txt](https://github.com/libpinyin/libpinyin/files/1577861/log.txt)

compile in debian9.3(64bit) stable(clean install in VM)

[2017-12-21 04:52] epico commented on #81
Please install glib 2.0 dev package in Debian.

[2017-12-21 04:59] bdfish commented on #81
![screenshot from 2017-12-21 12-59-42](https://user-images.githubusercontent.com/15389690/34241208-d464837a-e64e-11e7-96b8-6b5466ebd05b.png)

[2017-12-21 05:31] epico commented on #81
Please check whether the file exists?
//lib/x86_64-linux-gnu/libglib-2.0.so.0

[2017-12-21 05:40] bdfish commented on #81
![screenshot from 2017-12-21 13-40-31](https://user-images.githubusercontent.com/15389690/34242068-8b11e022-e654-11e7-8fe0-3aa134d6b29e.png)

[2017-12-21 05:50] bdfish commented on #81
By the way,i just download libpinyin and ibus-libpinyin latest deb from debian website,everything goes well,but it hard to understand why i can not compile it in same version of them.

Here is the link,unfortunately,all of libpinyin components are in debian experimental repo.
(https://packages.debian.org/search?searchon=names&keywords=libpinyin)

[2017-12-21 05:51] epico commented on #81
What is the output of `ls -lh libglib-2.0.so.0`?

[2017-12-21 05:53] bdfish commented on #81
![screenshot from 2017-12-21 13-53-18](https://user-images.githubusercontent.com/15389690/34242412-51673758-e656-11e7-86fa-4201c612fd27.png)

[2017-12-21 05:56] epico commented on #81
source deb package compile okay?

[2017-12-21 06:14] bdfish commented on #81
I compile it just know,no error occur,it seems the maintainer had a patch on it.

Patch info?I'm not sure
[0001-Add-missing-LDADD.patch.txt](https://github.com/libpinyin/libpinyin/files/1578106/0001-Add-missing-LDADD.patch.txt)

Where to download
[https://packages.debian.org/experimental/libpinyin13](url)

[2017-12-21 06:17] epico commented on #81
Please try the above Debian patch.

[2017-12-21 06:22] bdfish commented on #81
Well,i got it.

[2017-12-23 02:30] #81 closed

[2017-12-26 15:00] teto opened #82 "wrong libpinyin.pc"
hi,

I am updating the libpinyin package for nixos to 0.2.1 since it is required by recent fcitx. Fcitx fails compiling because cmake says libpinyin is 1.6 whereas I've upgraded it to 0.2.1. I don't know how but when I compile libpinyin 0.2.1 I get the following libpinyin.pc which generates the error (the `Version: 1.6.0`)
[code]
Any idea ?

[2017-12-26 15:05] teto commented on #82
Seems like nixos still fetch 1.6 for some reason. My bad

[2017-12-26 15:05] #82 closed

[2018-01-02 05:37] epico commented on #79
Fixed in model15.text.tar.gz .

[2018-01-18 02:32] ping-wu commented on #57
联想功能支持了没？

[2018-01-18 05:10] epico commented on #57
libpinyin 支持联想功能，在输入 "开始" 后，可能联想到 "了" 等。

参见：
pinyin_guess_predicted_candidates
pinyin_choose_predicted_candidate

ibus-libpinyin 还不支持。

[2018-01-18 11:36] suokunlong opened #83 "词频调整建议"
这个issue里将陆续报告多个词频调整建议。

[2018-01-18 11:41] suokunlong commented on #83
第一个，我想要输入“几”
在默认的词频下，当键入ji后，想要输入的词需要向后翻6页才能找到，排在前面的有：“集、及、其、即、系”等。“几”是频繁使用的词，应当放置在前列。“其”的读音不是ji，属于错误（我没有开启模糊音及智能纠错）。

[2018-01-18 12:53] suokunlong commented on #83
第二个，想要输入“键”
在默认的词频下，需要翻n页才能找到。排在前面的“吉安，集安，及，其，系...”等等根本不相关。

[2018-01-18 18:32] ping-wu commented on #83
"第二个，想要输入“键”
在默认的词频下，需要翻n页才能找到。排在前面的“吉安，集安，及，其，系...”等等根本不相关。"

Totally agree!  Indeed this has been my biggest complaint about ibus-libpinyin.  The dictionary that comes with the pinyin-database package works quite well.  This dictionary only works with ibus-pinyin, which  has been "totally" deprecated in Fedora.  If would be great if we can somewhat port it to ibus-libpinyin.

[2018-01-19 02:47] epico commented on #83
请多输入几个拼音再选择候选词。

词库是有版权的，在合并词库前，需要确认是否和 GPLv3+ 或 ASL 2.0 兼容。

[2018-01-19 04:37] suokunlong commented on #83
我是说，在现有词库基础上，不断修真发现的问题。

[2018-01-19 05:39] epico commented on #83
请将数据整理成文本格式，等收集的足够多后，我们来讨论一下该如何处理。

[2018-01-19 18:32] ping-wu commented on #83
Which file stores the user input data? File format? How to convert it to text file for submission?

[2018-01-25 04:43] epico commented on #79
As libpinyin 2.1.91 is released, close issue.

[2018-01-25 04:43] #79 closed

[2018-01-25 04:49] epico commented on #76
As libpinyin 2.1.91 is released, close issue.

[2018-01-25 04:49] #76 closed

[2018-01-25 04:49] epico commented on #74
Close issue.

[2018-01-25 04:49] #74 closed

[2018-01-25 04:50] epico commented on #67
Close issue.

[2018-01-25 04:50] #67 closed

[2018-01-25 05:04] epico commented on #69
Sorry for late reply.

Fixed in https://github.com/epico/libpinyin/commit/ff713df50634fd5a2d3e5fd64fe5c57eb45b2b7a .

[2018-01-30 10:18] Nif1heim opened #84 "可以删除词库吗"
有时候不小心打错了一个词，然后就删不掉了。

[2018-01-31 05:50] epico commented on #84
请问选项“将每个输入记录为新的词汇”是否打开？

[2018-02-02 08:43] Nif1heim commented on #84
打开了

[2018-02-02 09:46] epico commented on #84
应该移动到该候选词，按 Ctrl + Shift + D 即可。

另外，在设置对话框中，可以导出词汇；删除不想要的词汇后，点击清除数据按钮，再将用户数据重新导入即可。

[2018-02-05 11:08] Nif1heim commented on #84
好的，谢谢！

[2018-02-05 11:08] #84 closed

[2018-04-25 17:34] peter-jerry-ye opened #86 "ibus-libpinyin版本落后"
你好，
我注意到libpinyin的版本号已经到了2.2.0，而ibus-libpinyin似乎还停留在1.7.3，而launchpad上显示即将发布的18.04版本也只有1.9的版本号。请问能否提高发布的频率呢？
谢谢。

[2018-04-26 01:24] #86 closed

[2018-04-26 05:59] Arfrever opened #87 "Obsolete check for libintl.h"
`libintl.h` header is not included anywhere in this project, so checking for this header is needless.
`HAVE_LIBINTL_H` is also not used anywhere.

[code]

By the way, if `string.h` was absent, then `AC_CHECK_HEADERS([string.h])` would just not define `HAVE_STRING_H`. However several source files include `string.h` unconditionally without checking `HAVE_STRING_H`.
So maybe `AC_CHECK_HEADERS([string

[2018-04-26 06:19] ChengCat opened #88 "Incorporating the pyim-greatdict dictionary"
Is it possible to incorporate the pyim-greatdict dictionary found [here](https://github.com/tumashu/pyim-greatdict)? It looks a good dictionary with over 3 million words.

[2018-04-26 07:55] epico commented on #88
Actually we can only merge dictionary compatible with GPLv3+ or ASL 2.0 license.

As our code is GPLv3+ license.

Please provide license information in English, thanks!

[2018-04-26 09:00] epico commented on #87
Thanks for the report!

Fixed in https://github.com/epico/libpinyin/commit/86a756c0d888220b6c4e667642e0ee0ddb737d83 .

[2018-04-26 15:06] ChengCat commented on #88
Thanks for the reply.

I am not associated with pyim-greatdict, and can't provide additional materials.

I just happen to know both libpinyin and pyim-greatdict, and see a opportunity for improvement. I hope the improvement can happen in some form. I am not a lawyer, but I think the dictionary could be distributed under a different license than GPL, as long as the dictionary itself can be distribu

[2018-04-27 02:38] epico commented on #88
Actually ibus-libpinyin can import third party dictionary in setup dialog.
The dictionary format is described in the setup dialog.

Maybe you could ask pyim-greatdict to release one file with format compatible with ibus-libpinyin.

[2018-04-27 02:47] ChengCat commented on #88
I can't find the dictionary format description in the UI. Could you give me more hint? I am using libpinyin via fcitx-libpinyin. I can only see a "Manage Pinyin Dictionary" window without any format description.

[2018-04-27 03:09] epico commented on #88
Dictionary File Format:
  Each line contains one of the following:
    "phrase pinyin" or "phrase pinyin frequency"
  like "你好 ni'hao" or "你好 ni'hao 5".

The above is format for ibus-libpinyin,
not sure whether fcitx-libpinyin use the same format...

[2018-04-27 03:32] ChengCat commented on #88
In addition to pyim-greatdict, I've found some other resources that could be potentially useful to libpinyin. https://github.com/crownpku/awesome-chinese-nlp#corpus-%E4%B8%AD%E6%96%87%E8%AF%AD%E6%96%99

[2018-05-03 21:40] Ex-mortal opened #89 "请求增加新功能！The request for new abilities!"
(Rolling down for English)
0，一个问题：双拼输入法中，以元音开头（a, e, o）的单个字母无法成词。（即：输入 e 后，候选词立列表中只有英文，并无中文。）
1，希望支持固顶词。选词的效率太低，固定的词序可以极大增加打字效率。目前我是用fcitx自带的拼音增强功能插件实现的这个功能，而 ibus 输入法中则没有这个组件。但 fcitx 的插件也并不完美，因为它无法在平时输入的过程中，让用户自行调整词序，或者增删词条。我希望 libpinyin 本身支持这个功能。
2，希望支持辅助码。拥有辅助码的双拼才是真正的双拼。全拼也可以用这个功能增加选字效率（例：搜狗拼音可以使用 Tab + 笔画检字）。Windows 系统中辅助码做的最好的是拼音加加，它提供两种使用辅助码的形式：直接辅助码，以及间接辅助码。a) 直接辅助码：只适用于双拼，在输入一个词或句子的完整拼音之后

[2018-06-16 10:49] guoyunhe opened #90 "Document and examples of C++"
Hi, I am making a free software Android pinyin input method. Does libpinyin have any documentation or code examples of C++ ?

[2018-06-19 03:53] epico commented on #90
Please read test_pinyin.cpp .

[2018-06-19 18:51] guoyunhe commented on #90
Thanks!

[2018-06-19 18:51] #90 closed

[2018-07-04 09:47] guoyunhe opened #91 "Is it possible to use libpinyin without glib and libintl?"
Hi, I am making an open source pinyin keyboard for Android. When compiling C++ on Android, here are only a few basic system library available. Neither glib nor libintl (glibc?) can be found. I tried to not compile utls and tests and avoid libintl. Is it possible to modify libpinyin to not depend on glib? Thanks!

[2018-07-04 10:20] epico commented on #91
Please consider to include glib2 with your project, libpinyin uses heavily on some data structure from glib2.

[2018-09-10 03:09] mzy2240 commented on #77
不得不说 maintainer的态度是真的好 我有两个建议: 1. 能否由你们提供一个user导入的词库版本 2. 有的时候输入了英文之后才发现是在拼音模式下 按了shift又要重新再打 能否支持按了shift之后保留已打的内容 我知道可以按回车 但逻辑上按shift保留更自然 谢谢！ @epico

[2018-09-10 04:06] epico commented on #77
1. 主要是版权的问题，如果有 GPLv3 和 ASL 2.0 兼容的词库，可以倒入 libpinyin; 网上的某些词库有版权问题，无法导入的。
2. 个人觉得 shift 和 enter, 有不同的功能，也可以。

[2018-10-02 20:13] wsxy162 opened #93 "双拼输入候选框提示不够合理"
使用双拼模式时，各种双拼方案还是避免不了输入的重码。比如在具体使用“小鹤双拼”时，键入“L+O”时，可以代表输入的是拼音 luo（罗）或 lo（咯）。而这种情况下，libpinyin 在候选框上显示是 luo。这明显忽略了 lo 这个拼音，虽然实际的候选词是正确地包含了两个拼音的。
如果要改进这个缺陷，可以像其它双拼输入法一样，候选框中的输入词不要做转换，直接显示原来的按键输入。或者可以补全候选框中的拼音，同时显示所有的可选拼音。比如上面的例子中，显示为“luo/lo”。

[2018-10-08 08:52] epico commented on #93
其实，咯 有多个读音，包括 "luo" 和 "lo".

候选框中的输入词不做转换的话，用户很难理解输入的内容的。

[2018-10-08 12:48] wsxy162 commented on #93
我反对不做转换就难理解的说法。其他输入法还专门独立了一个选项来确定要不要转换成全拼显示。如果在候选框使用转换，但是在使用回车键直接上屏的时候（在中文输入法模式下输入英文），输入的仍是原来的未转换键入，而不是转换过的显示拼音。
lo 这个音，查了下好像普通话拼音不存在。主流的双拼方案都能做到音节唯一性，既不存在同个输入存在多个音节输出。

[2018-10-09 23:39] guosdwf opened #94 "build on solaris 11.4"
gcc 5.5

卡在../utils/storage/gen_binary_files --table-dir ....这个地方，段错误，core dump
信息少，茫然无头绪

[2018-10-11 13:04] guosdwf commented on #94
build libpinyin2.2.1 successful ，thanks

[2018-10-12 04:30] epico commented on #94
Welcome!

[2018-10-12 04:30] #94 closed

[2018-10-16 05:59] Arfrever commented on #87
86a756c0d888220b6c4e667642e0ee0ddb737d83
Fix has been released in libpinyin 2.2.1.

[2018-10-16 05:59] #87 closed

[2018-10-17 14:19] abderrahim opened #95 "sporadic build failures (illegal instruction)"
I often see this failure
[code]

At first I thought that import_interpolation is being called before it was compiled (or while it was being compiled), but even with `-j1` it sometimes happen.

The full build log is here: [cd1940de-build.5110.log](https://github.com/libpinyin/libpinyin/files/2487803/cd1940de-build.5110.log)

[2018-10-18 11:01] abderrahim commented on #95
Sorry, I forgot to mention that. This is happening as part of the GNOME integration pipeline https://gitlab.gnome.org/GNOME/gnome-build-meta, we are using [BuildStream](https://buildstream.build/) to build in a sandbox.

The fact is it doesn't happen every time, so I'm not sure how to reproduce it.

[2018-10-25 09:18] epico commented on #95
Does this failure still happens with current 2.2.x series?

[2018-10-25 15:12] abderrahim commented on #95
Yes, it happened with 2.2.1.

BTW, I see cmake build files in the repository. We could try to use that, but they are not in the release tarballs.

[2018-10-26 02:11] epico commented on #95
Sorry, cmake build files may be out-of-date sometimes.

Usually we will keep autoconf files updated.

[2018-12-21 21:06] marmistrz opened #96 "zhoumo doesn't suggest 週末"
I'm learning Chinese, so I may have something wrong, but looking at what the Chinese translation of Android does, the Taiwanese standard for weekdays 週五, not 周五, etc.

libpinyin doesn't suggest the former at all while typing zhoumo. (at least, it's not suggested through ibus-libpinyin)

[2018-12-24 15:03] marmistrz commented on #96
@epico I don't know zhuyin. In the western countries pinyin is usually taught, so needing to use zhuyin is an extra learning curve.
Does ibus-libpinyin use libpinyin directly to provide TC suggestions or does it go through e.g. opencc to convert from SC to TC?

[2018-12-25 03:30] epico commented on #96
ibus-libpinyin just convert from SC to TC.

In ibus-libzhuyin, there is pinyin support, but it need to input pinyin with pinyin tone.

[2018-12-25 13:35] marmistrz commented on #96
OpenCC handles ‘周末’ correctly but for some reason `ibus-libpinyin` in Arch Linux doesn't build against OpenCC:

[code]

[2018-12-27 01:56] epico commented on #96
Maybe you could ask ArchLinux to enable opencc.

In the past, some one complained about opencc conversion, ibus-libpinyin currently disable opencc usage by default.

[2018-12-30 05:29] csuwl opened #97 "ibus-libpinyin 在fedora的双屏模式下，副屏输入有问题"
ibus-libpinyin 在fedora的双屏模式下，副屏输入有问题。环境fedora29，gnome.副屏分辨率1600*900，主屏分辨率1920*1080。副屏出现的问题是：输入完N个字的拼音后，输入框只显示N-1个字的拼音。

[2019-01-23 06:46] epico commented on #96
As libpinyin 2.2.2 and ibus-libpinyin 1.11.0 are released, close issue.

[2019-01-23 06:46] #96 closed

[2019-01-23 06:51] epico commented on #70
ibus-libzhuyin 1.9.0 supports to input pinyin without tone, and ibus-libpinyin works with the above word now.

[2019-01-23 06:51] #70 closed

[2019-01-25 07:07] heycam commented on #70
Great, thank you!

[2019-01-25 08:09] epico commented on #70
Welcome!

[2019-01-30 23:05] girzel opened #98 "Extract pinyin->character mapping?"
I'm looking to update Emacs' pinyin-to-character mapping, and since libpinyin has a friendly license, I'm wondering if we can use your mapping. Is there any way to extract a simple text map from this project, so that we could build an association list that looks like "zhong' -> "中种重众终钟忠衷肿仲锺踵盅冢忪舯螽"?

What I'd like to do is make an Emacs input method that uses libpinyin directly, but one thing at a

[2019-01-31 02:59] epico commented on #98
Please check https://sourceforge.net/projects/libpinyin/files/models/ .

[2019-01-31 03:46] girzel commented on #98
Perfect, thank you.

[2019-01-31 03:46] #98 closed

[2019-01-31 03:58] epico commented on #98
Welcome

[2019-03-29 10:20] yanghg-basefx opened #100 "CentOS上编译报错"
我试图在CentOS7.2上自己编译libpinyin，但是报错：

[code]

看起来是缺少table.conf，但是我确实没找到这个文件，也不知道去哪找，请问我是还缺少什么库吗？

[2019-03-29 12:02] epico commented on #100
请问您用的是 libpinyin 哪个版本？

[2019-03-29 14:08] yanghg-basefx commented on #100
@epico 就是从这个repo clone下来的

[2019-04-01 02:09] yanghg-basefx commented on #100
@epico 好像解决了，用`./autogen.sh`配置的可以编译，`cmake`不行。如果不打算支持`cmake`的划建议把`CMakeLists.txt`删除，容易造成误会……

[2019-04-01 02:57] epico commented on #100
其实用 autogen.sh 将数据下载后， cmake 就可以用了。

我对 cmake 不熟悉，cmake 更新会有滞后。

[2019-04-01 03:24] yanghg-basefx commented on #100
多谢。我把issue关了。

[2019-04-01 03:24] #100 closed

[2019-04-22 09:57] xukai2025 opened #101 "构建问题"
`
checking for memset... yes
checking for setlocale... yes
checking for string.h... (cached) yes
checking db.h usability... no
checking db.h presence... no
checking for db.h... no
configure: error: Cannot find Berkeley DB library version 4
yqxk@yqxk-virtual-machine:~/work/libpinyin-master$

`
小白不太会编译安装步骤
感谢大佬帮忙分析
[config.log](https://github.com/libpinyin/libpinyin/files/3102970/config.log)

[2019-04-22 10:00] xukai2025 commented on #101
ubuntu版本 16.04LTS
ibus版本1.5.11
Berkeley DB 这个已经安装了18.1.32
是不是库的链接问题

[2019-04-22 10:00] xukai2025 commented on #101
跪谢指点

[2019-04-22 10:10] epico commented on #101
请安装 Berkeley DB 4.x/5.x 的 C 语言版本。

[2019-05-13 02:29] yanghua4548 opened #102 "不同构建的包，有文件存在差异"
libpinyin-data有两个文件在不同的构建结果之间存在差异：
pinyin_index.bin
addon_pinyin_index.bin

通过调查发现是结构体PinyinIndexItem2因为字节对齐的原因导致某些情况下会有未初始化的内存被使用。
template<size_t phrase_length>
struct PinyinIndexItem2{
    phrase_token_t m_token;
    ChewingKey m_keys[phrase_length];

public:
    PinyinIndexItem2<phrase_length> () {
        memset(m_keys, 0, sizeof(ChewingKey) * phrase_length);
        m_token = null_token;

[2019-05-13 06:36] epico commented on #102
在这里可能问题不大。

但是如果 PinyinIndexItem2 是 class 并且有虚函数的话，就会有问题。

个人不推荐使用 memset(this, 0, sizeof(*this)) 这种写法...

[2019-05-13 07:07] yanghua4548 commented on #102
谢谢你的答复
请问，你有什么好的建议吗。我实在不能想到其他更好的办法

[2019-05-13 07:37] epico commented on #102
[code]

为了解决这个问题，可能会让代码更复杂...

[2019-05-13 09:50] yanghua4548 commented on #102
谢谢你的帮助 @epico

[2019-05-13 12:08] epico commented on #102
不客气

[2019-11-02 05:06] tuberry opened #103 "全拼的简拼功能有待改进"
我试了试有的词，比如`过秦论`（guo qin lun），输入`gql`却没有相应匹配，并非是词频问题，而是翻页也找不到对应的（没有开启自带的词库），必须得输全。

[2019-11-02 15:33] ping-wu commented on #103
要自己训练，如附图：

On Fri, Nov 1, 2019 at 7:06 PM titubery <notifications@github.com> wrote:

[2019-11-04 03:07] Titubery commented on #103
@ping-wu 额，没看见图

[2019-11-19 09:23] moc32 opened #104 "fatal error: config.h: No such file or directory"
Hello,
I am trying to build the library but I could not find the following include file:

libpinyin/src/include/memory_chunk.h:24:20: fatal error: config.h: No such file or directory
 #include "config.h"

Where can I find this file?
Best regards,
Moctar

[2019-11-19 12:48] mawis opened #105 "Cannot input 為 character"
Unicode has two code points assigned for traditional variant of the 为 character:
U+70BA 為 and U+7232 爲

When I type "wei" using libpinyin and fcitx I can find the character 爲 but I never get presented the 為 character. How can I access this alternate character of the Hanzi?

System setup
-----------------

NixOS 19.09
libpinyin 2.3.0
fcitx 4.2.9.6
fcitx-engines.libpinyin 0.5.3

NixOS IME configurat

[2019-11-19 16:41] Titubery commented on #105
I can find both 為 and 爲 in libpinyin. You may turn over more pages to find that.

[2019-11-19 17:19] Titubery opened #106 "[Question] How to switch ascii mode of libpinyin with syscall or command?"

[2019-11-20 01:44] #106 closed

[2019-11-20 02:55] epico commented on #104
See https://github.com/libpinyin/ibus-libpinyin/wiki/Installation .

[2019-11-20 02:55] #104 closed

[2019-11-20 08:10] moc32 commented on #104
I am trying to cross-compile the library using code composer from the source code. Indeed when I download the package from sourceforge, I get the configure script which generates the config.h

[2019-11-22 03:39] hillwoodroc opened #107 "请将以下缺少的字词加入词库"
撸 lu
𤆵 pa
𤆵耳朵 pa er duo

[2019-11-25 07:44] epico commented on #107
"撸" 这个字在 gbk_char.table， 排列的比较靠后。

[2019-11-25 12:47] hillwoodroc commented on #107
我翻了18页终于找到了。这是个现在很常用的字，怕是需要调整一下词频吧。

[2019-11-26 03:54] epico commented on #107
是的，谢谢提醒，也许应该放入 gb_char.table .

[2019-11-28 09:17] mawis commented on #105
Thanks. I will recheck. I though I paged through all characters, maybe I have overseen something.

[2020-01-27 11:11] Testreact3002 opened #108 "how write pinyin with tones"
I use gnome 3 keyboard switcher with this IME enabled.
I can write 汉字 but sometimes i need to type text in pinyin with tone marks.
Is this possible with this IME?

[2020-01-28 07:43] epico commented on #108
Please try ibus-libzhuyin instead, thanks!

[2020-02-14 00:47] suokunlong commented on #107
还有一个字需要调整，我就不另外开ticket了：
质 zhi

我是在输入“质控”时发现的，死活找不到“质”，只能输入“质量”，“控制”，然后各删掉一个来拼凑。可以顺便把“指控”加入新词。

[2020-02-21 09:41] hillwoodroc commented on #107
我在第二页就看到“质”了。

[2020-02-21 12:54] suokunlong commented on #107
好吧，可能是我眼花了🌸

[2020-02-28 18:37] Inokinoki opened #109 "Missing link to glib while building tests with code on master"
I built libpinyin from the codebase on master branch, which gives me an error while linking `test_pinyin`. The error message is:
[code]

I tested 2.3.0 release tarball, which works well. I think it could be a missing of pkg-config command during the build process, which doesn't provide something like `-lglib`.

[2020-03-01 09:28] jacknlliu opened #110 "Can libpinyin use the expanded pinyin dictionary"
Can `libpinyin` use the expanded pinyin dictionary file `pybase.mb` and `pyphrase.mb` from `~/.config/fcitx/pinyin`?

### Reference
- [Fcitx使用搜狗词库与皮肤](https://www.cnblogs.com/luoshuitianyi/p/11669619.html)
- [Extend_pinyin_dictionary](https://wiki.archlinux.org/index.php/fcitx#Extend_pinyin_dictionary)

[2020-03-01 13:09] orzogc commented on #110
You can import sougou pinyin dictionary in libpinyin configuration of fcitx.
![DeepinScreenshot_select-area_20200301210622](https://user-images.githubusercontent.com/6040599/75626222-c00c2c00-5c00-11ea-9cc0-aecece689e3e.png)

[2020-03-01 14:38] jacknlliu commented on #110
@orzogc There seems to be a bug in this function. After adding a dictionary, it will appear that when switching from Chinese input method to English input method, the delay is very large.

[2020-03-02 04:15] epico commented on #109
Please try to run ./autogen.sh, it may fix the problem.

[2020-03-02 04:34] epico commented on #110
@jacknlliu Please report to fcitx-libpinyin project, as this feature is implemented in fcitx-libpinyin.

[2020-03-02 05:49] #110 closed

[2020-03-04 08:12] #109 closed

[2020-03-11 11:06] #103 closed

[2020-05-12 06:16] suokunlong commented on #107
无法输入以下字词：
mai 唛
mai'tou 唛头

[2020-05-16 03:25] sgn opened #111 "Can I use binary files generated by amd64 in arm?"
And if yes (for now), can libpinyin guarantee they'll work in the near future?

[2020-05-18 04:20] epico commented on #111
No. For performance issue, the binary files is not compatible.

[2020-06-30 21:55] rekado opened #114 "DictionaryTreeView cannot be found"
When attempting to open the settings by running libexec/ibus-setup-libpinyin (via the Gnome control center) I see this error:

[code]

I see with `strace` that `dicttreeview.py` is read.
(This is observed on Guix System; I'm maintaining ibus-libpinyin for Guix.)

[2020-07-03 07:49] epico commented on #114
Could you try to use python3?

We recommend to use the following command line:
[code]

[2020-07-03 09:06] rekado commented on #114
We are already using Python3 and do not use boost.

[2020-07-03 10:45] epico commented on #114
Could you run `python3 main2.py` in the code repo?

[2020-07-13 05:39] epico commented on #114
Could you run the following command line?

[code]

[2020-07-13 11:13] rekado commented on #114
That is essentially the command that the script executes and, as expected, it leads to the same error.

[2020-07-14 01:46] epico commented on #114
Could you try to set the following environment variable?

[code]

[2020-07-15 08:50] ping-wu opened #115 "libpinyin 2.3.0 compilation error"
/usr/bin/ld: test_pinyin.o: undefined reference to symbol 'g_free'
/usr/bin/ld: /lib/x86_64-linux-gnu/libglib-2.0.so.0: error adding symbols: DSO missing from command line
collect2: error: ld returned 1 exit status
make[3]: *** [Makefile:446: test_pinyin] Error 1
make[3]: Leaving directory '/home/ryzenv/Downloads/libpinyin-master/tests'
make[2]: *** [Makefile:503: all-recursive] Error 1
make[2]: L

[2020-07-16 01:29] epico commented on #115
Could you try the latest code in git repo?

or try the following command line:
[code]

[2020-07-16 01:35] epico commented on #115
Maybe the following command line also helps:

[code]

[2020-07-16 03:31] ping-wu commented on #115
The second option " LDFLAGS=`pkg-config glib-2.0 --libs` " solved the problem.

[2020-07-16 03:31] #115 closed

[2020-07-20 05:25] j0nscalet commented on #71
@epico I'm working on getting libpinyin compile on darwin/OSX 10.15.4 for use in iOS. I'm using automake and have dependencies installed via brew.

I'm getting the follow error running `make`:
[code]

What are your thoughts since the --version-script parameter looks like it's not supported on darwin? 感謝你的努力！

[2020-07-20 05:49] epico commented on #71
Maybe just remove "--version-script=./libpinyin.ver" option when use with clang.

[2020-07-20 06:58] j0nscalet commented on #71
That worked. 謝謝。

`make` is failing in data. Seg fault when loading text in ChewingLargeTable...
![image](https://user-images.githubusercontent.com/1328795/87908650-60bc9480-ca99-11ea-8a7c-f924f249afef.png)

[2020-07-20 08:39] epico commented on #71
libpinyin data file uses UTF-8 encoding...

[2020-07-20 10:01] j0nscalet commented on #71
Sorry I haven't used bdb very much... is this an default char encoding that needs to change in bdb?

[2020-07-20 10:53] epico commented on #71
Which encoding does macOS use to read the text file?

@Inokinoki, Could you help with macOS compiling?

[2020-07-20 12:50] Inokinoki commented on #71
In general, macOS uses UTF-8.

As epico and I discussed, the problem could be related to the `%255s` extension of format string, for example:

https://github.com/libpinyin/libpinyin/blob/63076e51a67336970973172189b450a7d076b7d9/src/storage/phrase_large_table3.cpp#L131

Such extension might only work in GCC, but in macOS, the compiling infra is LLVM along with Clang. As a result, the strings read f

[2020-08-03 03:22] epico commented on #107
Fixed in https://github.com/epico/ibus-libpinyin .

[2020-08-12 17:40] ping-wu opened #116 "ibus的libpinyin，如何导入词库？"
(re-posted from the Ubuntu Chinese Forum)

由 男菜鸟 » 2020-08-11 22:28
ibus的libpinyin在UBT20.04版本开始很好用了。但是如何导入词组？我根据在，中文/首选项/用户数据/帮助 的介绍，做了一个txt文件试验，
如:
松榆里 song'yu'li
王斯庆 wang'si'qing
.....

把上述文件“导入”后，重启系统，在中文系统下，输入"syl","wsq".并不能输出"松榆里"、"王斯庆"，而是必须全拼输入一次“songyuli”、“wangsiqing” 逐一确认松、榆、里；王、斯、庆 后，才能在以后只需输入 "syl","wsq"，就能输出"松榆里"、"王斯庆"! 那这实际上就是"将每个输入记录为新词"，而不是批量输入了？如何可以批量输入词组？

original post appeared in

[2020-08-13 02:00] epico commented on #116
请先删除 ~/.cache/ibus/libpinyin/user.conf 文件，重启。

再次导入词组，直接就可以使用了，请等待 10 分钟后再重启或者注销...

[2020-08-13 16:15] wengxt opened #117 "Assertion fail when use libzhuyin with zhuyin_get_zhuyin_offset with ' separator in string"
When setup like this:
zhuyin_set_full_pinyin_scheme (HANYU)
zhuyin_parse_more_full_pinyins("ao\'")
zhuyin_guess_sentence()
zhuyin_get_zhuyin_offset(3)

=> zhuyin.cpp:1451：bool _check_offset(pinyin::PhoneticKeyMatrix&, size_t): 假设 ‘zero_key != key’ 失败。

[2020-08-13 17:15] ping-wu commented on #116
我试了一下，第一个词没有问题，但第二个词就打不出来了。

On Wed, Aug 12, 2020 at 4:00 PM Peng Wu <notifications@github.com> wrote:

[2020-08-14 08:00] epico commented on #116
我这里  "松榆里" 和 "王斯庆" 工作正常啊！

[2020-08-14 08:02] epico commented on #117
Could you provide a small test case file for this issue?

[2020-08-14 15:45] wengxt commented on #117
[code]

[code]

[2020-08-14 15:59] wengxt commented on #117
"ni'hao" and get offset at 5 can also trigger this.

[2020-08-17 01:23] wengxt opened #118 "Segementation fault with certain user data after normal usage with libzhuyin."
The issue itself definitely related certain user data. I have no idea whether the data file is corruptted or libzhuyin generates some invalid file, so I uploaded both the user and system data for testing. Please update path in test code correspondingly to reproduce it. This is not the first time I hit the similar issue and last time I just remove the user data. So I doubt it is really related to d

[2020-08-17 02:44] epico commented on #118
Does this issue disappear after removing the user data?

[2020-08-17 03:52] epico commented on #118
Please use the zhuyin data shipped with ibus-libzhuyin, thanks!

[2020-08-17 03:58] epico commented on #117
I think Traditional Chinese may not use the symbol ' .

[2020-08-17 04:08] wengxt commented on #117
@epico I set the scheme to hanyu piniyn and I'm using parse_full_pinyin. I think it's pretty legit to support ' separator when hanyu pinyin is used. Otherwise under zhuyin style of typing, it's not possible to force things like xi'an.

[2020-08-17 04:18] wengxt commented on #118
@epico I'd rather not because of obvious low quality of the current version of data.

I wonder if you can point out what goes wrong before you simply close the issue ? When user data is empty, the issue is not triggered. So obviously there are some invalid user data derived from user typing.

[2020-08-17 04:27] epico commented on #118
I think zhuyin.cpp is designed to work with ibus-libzhuyin data.

And the current libpinyin data is improved.

[2020-08-17 04:30] epico commented on #117
Normally Traditional Chinese users will input tone I guess.

[2020-08-17 05:34] wengxt commented on #117
@epico I doubt if they use hanyu pinyin at all.. but then can you make ' to be something like zero tone for pinyin? I guess that might be a easier change to make.

[2020-08-17 06:30] epico commented on #117
I think the current zhuyin.cpp code doesn't expect the ' in the input string.

And ibus-libzhuyin will filter out the ' symbol.

[2020-08-17 06:44] epico commented on #117
Could you test the following patch?

https://pwu.fedorapeople.org/ibus/libpinyin/libpinyin-post.patch

[2020-08-17 07:02] wengxt commented on #118
Regardless of the data quality topic itself (the data that I used is from an old libpinyin, so in my opinion libpinyin data is getting worse instead of getting better.) , I tried to trace the memory error a little bit.

I noticed that MemoryChunk may have following code pattern:
MemoryChunk a : ensure_has_more_data
MemoryChunk b.set_chunk(a)
MemoryChunk a : ensure_has_more_data again and realloc (

[2020-08-17 07:20] epico commented on #118
I think the pinyin data is improved in recent version.

Could you try to reproduce the bug in latest pinyin data?

[2020-08-17 07:23] wengxt commented on #118
To look it closer:
https://github.com/libpinyin/libpinyin/blob/da26b217982ab096f0307e23b652ec5fdd627925/src/lookup/phonetic_lookup.h#L594

This is running within a loop, and m_system_bigram.m_chunk may be changed within the ::load
https://github.com/libpinyin/libpinyin/blob/da26b217982ab096f0307e23b652ec5fdd627925/src/storage/ngram_kyotodb.cpp#L124

Thus the returned SingleGram.m_chunk may point t

[2020-08-17 07:24] epico commented on #118
Which libpinyin version are you using?

[2020-08-17 07:26] epico commented on #118
If you suspect the above issue, please set `copy == true`, that is why the copy variable is introduced.

[2020-08-17 07:59] wengxt commented on #117
@epico I think zhuyin_get_right_zhuyin_offset also needs some change.

[2020-08-18 02:07] #118 closed

[2020-08-18 02:17] epico commented on #117
Could you test the following patch again?

https://pwu.fedorapeople.org/ibus/libpinyin/libpinyin-post.patch

[2020-08-18 08:39] epico commented on #117
The above patch is updated for zhuyin_get_right_zhuyin_offset function.

[2020-08-19 06:54] epico commented on #117
Fixed in https://github.com/epico/libpinyin .

[2020-08-19 14:48] PureTryOut opened #120 "Segmentation fault on x86"
For some reason libpinyin segfaults constantly on the x86 architecture (note, the 32-bit one, not amd64 or x86_64).

[code]

This happens on Alpine Linux with GCC 9.3.0.

[2020-08-19 15:16] PureTryOut commented on #104
@moc32 note that this has been fixed since https://github.com/libpinyin/libpinyin/commit/a6d51d2f7c513393e92105290f488ee3bb4930e8 and you can now use CMake to build the project.

[2020-08-19 15:35] PureTryOut opened #121 "Allow CMake build without network access"
It seems the CMake configuration currently downloads the model data from SourceForge without anyway to stop that from happening and provide the data ourselves.

https://github.com/libpinyin/libpinyin/blob/master/data/CMakeLists.txt#L43

It would be great if we could pass an argument to CMake to stop that from happening, so build systems can work completely offline.

[2020-08-19 18:47] PureTryOut commented on #120
Note that this is using the last release, 2.3.0. It seems that is quite old and there have been a lot of commits since, so just having a newer release might help here.

[2020-08-19 18:48] PureTryOut opened #123 "CMake: load gb_char.bin failed"
I got close to building the latest master fully offline with CMake, but it fails on the last bit :cry:

[code]

[2020-08-19 18:50] PureTryOut commented on #123
Interesting... I just tried it with `-j1`, and it passed. I guess with multithreaded builds the `gb_char.bin` got generated later than it was required?

[2020-08-19 19:18] PureTryOut commented on #123
And if I try with Ninja rather than Make (`cmake -G Ninja && ninja`) it fails like this:

[code]

[2020-08-20 02:42] epico commented on #120
Okay, I will release new libpinyin later.

[2020-08-20 02:44] epico commented on #123
Sorry, I am not expert on CMake.

Could you help on this issue?

[2020-08-20 06:45] epico commented on #123
Just update the data/CMakeLists.txt file.

Fixed in https://github.com/epico/libpinyin .

[2020-08-20 06:48] epico commented on #121
Please extract the model17.text.tar.gz into ${CMAKE_SOURCE_DIR}/data/ , it will work I think.

Fixed in https://github.com/epico/libpinyin .

[2020-08-20 09:06] PureTryOut commented on #121
Yeah I made #122 to stop wget from downloading it, and downloading and extracting the model to that directory works. I already did that yesterday :wink:

This issue is here more as a reference.

[2020-08-20 09:08] PureTryOut commented on #120
Actually I tested the latest master for this issue in the meantime, it does not resolve it :cry:

I've been trying to build it with Ninja rather than Make (as Make seems to be the one segfaulting), but that doesn't succeed because of #123.

[2020-08-20 09:16] PureTryOut commented on #123
That does the trick indeed, thanks!

However, when executing `make install` (or `cmake --target install`) it reports "Assertion failed" now.

[code]

[2020-08-21 02:32] epico commented on #121
Sorry, I mean without #122 PR, just extract the files into ${CMAKE_SOURCE_DIR}/data, it will also avoid to download the model17.text.tar.gz file.

[2020-08-21 02:35] epico commented on #120
Sorry, I think CMake is not maintained as well as autoconf...

[2020-08-21 02:59] epico commented on #120
I think I tried with `make -j8`, it seems passed compiling...

[2020-08-21 03:25] nagae-memooff opened #125 "光标在句中，修改光标后的候选字词后，有时会将光标之前的词一起修改了"
标题可能不太明确，这个问题是这样的。
原issue提在这里： https://github.com/libpinyin/ibus-libpinyin/issues/269

比如我在输入了一系列拼音时，候选词的大部分都符合我的预期，但唯独最后的几个字或词不符合。在这种状态下，我会使用ctrl+←回退光标，以便保持前面的猜测，只修改最后几个字。

比如，我希望输入"buzhidaoweishenmezucifuxianbuchulai(不知道为什么组词复现不出来)"， 输入法猜测为： “不知道为什么组词赋闲不出来”，如图1。这种情况下，如图2，我会使用ctrl+←将光标移到“fuxian”前，按6选择“复现”。然而，“复现”定词以后，光标之前的、原本符合预期的“组词”却也跟着变成了“祖祠”，如图3.也即，定词会导致光标之前的词语也变换了猜测结果。

这种情况还有另一种更难受的变体，如果我修改

[2020-08-21 05:31] epico commented on #123
I think there are some issues when run `make install` with cmake...

[2020-08-21 05:34] epico commented on #125
Let us continue to discuss this issue in the previous issue, closed as duplicated.

[2020-08-21 05:34] #125 closed

[2020-08-21 11:13] PureTryOut opened #126 "CMake: tests don't run with out-of-source builds"
Linux distributions tend to prefer to build things out of the source directory nowadays, normally in a directory called something like `build`. With CMake this can be achieved by running `cmake -B <directory to build it in>`, e.g. `cmake -B build`.

For just compiling libpinyin, this works fine. However, this makes the tests fail:

[code]

The problem seems to be that those tests expect the data t

[2020-08-21 11:18] PureTryOut opened #127 "CMake: tests hang indefinitely"
Now tests can be ran with CMake since 91121b958219e022d3e3f8f55ee1dd14a42113a5 and if you run the tests in the source directory to workaround #126, they never actually succeed but hang indefinitely. Looking into the tests, they all seem to use some loop which I guess just never finishes?

[2020-08-21 11:24] PureTryOut opened #128 "CMake: make install fails with assertion failed"
As continuation #123, with CMake you can't use the `make install` target as it reports the following at the very end:

[code]

If using Ninja as buildtool, it fails the same:

[code]

I wonder why it just happens with CMake though, I'm not sure why the build system should matter.

https://github.com/libpinyin/libpinyin/blob/master/utils/storage/import_interpolation.cpp#L213

The other asserts befo

[2020-08-24 02:16] epico commented on #120
Which DBM are you using, Berkeley DB or Kyoto Cabinet?

[2020-08-24 02:27] epico commented on #127
The three tests are interactive tests.

Without manual input, it will not exit.

[2020-08-24 02:30] epico commented on #126
I think table.conf needs to be copied from ${CMAKE_SOURCE_DIR}/data/ to ${CMAKE_BINARY_DIR}/data/ .

[2020-08-24 02:36] epico commented on #128
Please try to remove the following files in data directory, and run again.

`phrase_index.bin pinyin_index.bin addon_phrase_index.bin addon_pinyin_index.bin bigram.db gb_char.bin gbk_char.bin opengram.bin merged.bin art.bin culture.bin economy.bin geology.bin history.bin life.bin nature.bin people.bin science.bin society.bin sport.bin technology.bin`

[2020-08-24 06:57] epico commented on #127
Fixed in https://github.com/epico/libpinyin .

[2020-08-24 06:59] PureTryOut commented on #120
Berkeley DB

[2020-08-24 10:00] PureTryOut commented on #127
Ah that explains things. Works, thanks!

[2020-08-24 10:00] #127 closed

[2020-08-24 10:03] PureTryOut commented on #128
I have no such files in that directory in the first place. Just before running `make install` the contents of that directory are:

[code]

[2020-08-24 10:03] PureTryOut commented on #126
Since those tests got disabled in #127 anyway, this is not an issue anymore.

[2020-08-24 10:03] #126 closed

[2020-08-24 10:06] epico commented on #128
I mean remove the files in ${CMAKE_BINARY_DIR}/data/ directory.

[2020-08-24 10:09] PureTryOut commented on #128
Yup that does the trick indeed, thanks! Any idea if that can be fixed somehow?

[2020-08-24 10:18] epico commented on #128
I think import_interpolation should not be run twice, so autotools will just delete the files before each run...

[2020-08-27 06:09] #111 closed

[2020-08-27 06:10] #108 closed

[2020-08-27 06:13] epico commented on #120
libpinyin 2.4.91 is released.

[2020-08-27 06:16] epico commented on #107
ibus-libpinyin 1.11.93 is released.

[2020-08-27 06:18] #101 closed

[2020-08-27 06:19] epico commented on #57
ibus-libpinyin 1.11.93 已经初步支持。

[2020-08-27 08:49] PureTryOut commented on #120
Nice! However, that doesn't fix this issue sadly
https://gitlab.alpinelinux.org/PureTryOut/aports/-/jobs/193870

[2020-08-28 01:24] epico commented on #120
Could you try autoconf with tar ball?

Sometimes CMake is not updated...

[2020-08-28 10:50] PureTryOut commented on #120
I'm downloading the tarball straight from Github so that doesn't make sense, it is just the git tag you made which is a snapshot of git master at that point in time, but sure I gave it a shot. No luck though.

https://gitlab.alpinelinux.org/PureTryOut/aports/-/jobs/194377

[2020-08-28 11:34] epico commented on #120
Sorry, I mean there is one tar ball containing data files to download.

URL:
https://github.com/libpinyin/libpinyin/releases/tag/2.4.91
https://github.com/libpinyin/libpinyin/releases/download/2.4.91/libpinyin-2.4.91.tar.gz

[2020-08-28 12:01] PureTryOut commented on #120
Doesn't seem to be the case. Well or the autotools ignore the existing data files, because they try to download them anyway using that tarball.

[2020-08-28 12:10] PureTryOut commented on #120
Using that tarball doesn't make a difference sadly

https://gitlab.alpinelinux.org/PureTryOut/aports/-/jobs/194428

Although it is convenient to not seperately having to download the models anymore, thanks!

[2020-08-28 12:21] epico commented on #120
Could you try to build libpinyin with Kyoto Cabinet?

[2020-08-28 16:21] PureTryOut commented on #120
That does seem to make it work yes. However, that is available on less architectures, at least on Alpine Linux, than BerkeleyDB is and I rather don't use it. Especially armv7 will be left out which most definitely do not want to miss.

Also, the release tarball doesn't actually include CMake files, could those be added?

[2020-08-31 02:07] epico commented on #120
Maybe it is an issue with Berkeley DB...

Sorry, the tar ball is created with autoconf, not include CMake files.

[2020-09-03 06:39] Brli opened #129 "libzhuyin failed to expose `zhuyin_get_zhuyin_key_rest`"
git master branch compiled with `autogen.sh --enable-libzhuyin` under Arch Linux.

and check with `objdump -T src/.libs/libzhuyin.so | grep 'zhuyin_get_zhuyin_key_rest'`

it doesn't return the function name, but only the `*_length` and `*_positions` ones.

[2020-09-03 13:46] ryuanlu commented on #129
https://github.com/libpinyin/libpinyin/pull/130#issue-478643885

[2020-09-04 23:47] felixonmars commented on #121
It works here with cmake & make, but not with cmake & ninja. In `cmake -GNinja` the wget commands are always executed.

[2020-09-04 23:49] felixonmars opened #132 "CMake: No way to prefer KyotoCabinet"
BerkeleyDB is now always selected if it's installed. I would like a switch to prefer KyotoCabinet instead.

[2020-09-07 03:43] epico commented on #132
Sorry, CMake is maintained by volunteer.

One work around is to remove BerkeleyDB headers and install KyotoCabinet headers, then compile again.

[2020-09-07 03:56] epico commented on #129
Thanks for the report!

The issue is fixed now.

[2020-09-07 03:56] #129 closed

[2020-09-21 12:38] mengoreo commented on #71
hi @j0nscalet , can u share how you successfully built it? After removing `--version-script=./libpinyin.ver` option in makefile, I encountered another error:
[code]

Very much appreciated～

[2020-09-30 03:31] ElrathCurio opened #133 "Could add a keymap setting option?"
I want to abort the Ctrl+Shift+F that swith between tranditional and simplfied chinese.But I can't do that.

[2020-10-09 07:17] epico commented on #133
I think there is some options in the setup dialog with recent ibus-libpinyin release.

[2020-10-13 09:32] ping-wu opened #134 "configure.ac:128: error: required file 'data/table.conf.in' not found"
Got this error:

"configure.ac:128: error: required file 'data/table.conf.in' not found"

when trying to compile libpinyin 2.4.92 in Ubuntu 20.04 LTS

[2020-10-14 02:24] epico commented on #134
Fixed in https://github.com/libpinyin/libpinyin/ .

[2020-10-15 01:26] ping-wu commented on #134
configure: error: Cannot find Berkeley DB library version 4

the version of berkeley database in Ubuntu 20.04 is 5.3; i have no intention of downgrading it just to compile libpinyin

[2020-10-15 05:19] epico commented on #134
Please install libdb-dev package, libpinyin compiles with Berkeley DB 5.

[2020-10-15 06:51] ping-wu commented on #134
was able to make a deb package, but it appears to be in conflict with the existing 2.3 version, won't install.  make install also failed.

[2020-10-23 01:33] epico commented on #120
libpinyin 2.4.92 is released, could you try with Berkeley DB again?

[2020-10-23 01:36] #133 closed

[2020-10-23 01:39] #117 closed

[2020-10-23 01:43] #116 closed

[2020-10-23 01:46] epico commented on #114
No response, close issue now.

[2020-10-23 01:47] #114 closed

[2020-10-23 01:48] #107 closed

[2020-10-23 01:49] #105 closed

[2020-10-23 01:52] epico commented on #102
问一下，现在这个问题还存在吗？

[2020-10-23 01:56] epico commented on #95
Could you check again with libpinyin 2.4.92?

[2020-10-23 02:02] epico commented on #89
请分开汇报问题，谢谢！

[2020-10-23 02:02] #89 closed

[2020-10-23 02:08] #77 closed

[2020-10-23 02:08] #69 closed

[2020-10-23 02:08] #57 closed

[2020-10-23 07:22] PureTryOut commented on #120
[Same as before](https://gitlab.alpinelinux.org/PureTryOut/aports/-/jobs/233080).

That CI job is building libpinyin 2.4.92 with autotools from the release tarball on SourceForge.

[2020-10-24 04:49] tuberry opened #135 "libpinyin-2.4.92 用 kyotocabinet 编译安装后 ibus-libpinyin 无候选项"
以 --with-dbm=BerkeleyDB 编译能正常使用。不确定和依赖版本是否有关。

[2020-10-26 01:58] epico commented on #135
请删除 ~/.cache/ibus/libpinyin/user.conf 文件试试。

[2020-10-26 04:58] tuberry commented on #135
经尝试后依旧。你那边无法复现的话应该不是代码的问题。

[2020-10-26 04:58] #135 closed

[2020-10-29 21:02] j0nscalet commented on #71
@mengoreo I haven't gotten it to compile on MacOS successfully, yet. However, removing `--version-script=./libpinyin.ver` did get me a little farther in the process, which it sounds like it did for you as well.

I ended up spinning up a ubuntu container and installing/building there.

Here's my installation/build steps for Ubuntu (focal/20.04 LTS):
[code]
I haven't circled back yet to fixing build

[2020-10-30 01:15] epico commented on #71
@j0nscalet Thanks for the information!

[2020-11-08 14:13] mengoreo commented on #71
Thank you too. I gave up trying to transplant it, instead I'm trying to understand the logic, and trying to rewrite it with swift and frameworks that are compatible with iOS/OS X. Hopefully, I'll get it done some day🧑🏻‍💻.

[2020-11-13 14:47] wengxt opened #136 "Add a variable about the database format in libpinyin.pc and libzhuyin.pc"
Right now it's hacky to detect which format is being supported by a certain compiled libpinyin. Using pkg-config is kinds of a standard way to express such things.

[2020-11-17 03:54] epico commented on #136
Fixed in https://github.com/epico/libpinyin .

[2020-11-22 18:20] Inokinoki commented on #71
With #137 and #138 you should be able to build libpinyin painlessly.

Indeed, libpinyin preprocess table files during building. I'm doubting whether the processed table files (binary) work with iOS ARM.

Cross-compiling may work, if you can configure a ARM64 emulator, for example qemu, to run the compiled ARM binary to do the preprocessing.

[2020-11-22 18:24] Inokinoki commented on #71
Hopefully, Apple Silicon M1 may help to do the preprocessing, and provide usable table files, because they both use LLVM + Clang on ARM64 architecture.

But I'm not certain.

[2020-11-23 17:39] wengxt opened #139 "CMake doesn't build because of table.conf"
table.conf is not generated by cmake from table.conf.in.

[2020-11-24 07:32] epico commented on #139
Fixed in https://github.com/epico/libpinyin .

[2020-11-26 03:10] epico commented on #71
I just merged the above pull requests.

Please try the latest code in the git repo.

[2020-12-04 05:27] Arfrever opened #140 "Support Tkrzw"
Libpinyin currently supports Berkely DB and Kyoto Cabinet.

[Kyoto Cabinet homepage](https://dbmx.net/kyotocabinet/) says:

[Tkrzw homepage](https://dbmx.net/tkrzw/) says:

[2020-12-11 03:01] kmvan opened #141 "What is the ShuangPin configure file path?"

[2020-12-11 04:01] epico commented on #141
I think the ShuangPin scheme is in double_pinyin_table.h code.

[2020-12-11 04:06] kmvan commented on #141
Got. Thanks.

[2020-12-11 04:06] #141 closed

[2021-01-02 17:52] jingyu9575 opened #143 "Segfault in CMake Release build due to assert with side effects"
I've tried to build this project in MSYS2/Windows with CMake. The Debug build works but the Release build of `test_pinyin` crashes.

There are several instances of `assert` with side effects, e.g.:

https://github.com/libpinyin/libpinyin/blob/76a20ae5801f6002d08fd698d06f447cae112d6f/src/lookup/phonetic_lookup.h#L763-L766

By default `assert` is removed in the Release build so `cur_constraint == NU

[2021-01-04 05:24] epico commented on #143
Sorry, I think currently please enable assert in the Release build.

Here are some information for CMake.
URL: https://gitlab.kitware.com/cmake/cmake/-/issues/18249

Or try to use ./configure for compiling, which is maintained by me.

[2021-01-04 11:10] jingyu9575 commented on #143
Thanks, I've removed `-DNDEBUG` from `CMAKE_CXX_FLAGS_RELEASE` and `CMAKE_C_FLAGS_RELEASE` and the executable works.

[2021-01-04 11:10] #143 closed

[2021-01-17 15:57] alx696 commented on #115
先执行 `export LDFLAGS=`pkg-config glib-2.0 --libs` , 再执行 `./autogen.sh --prefix=/usr` 这样在make时不会出现g_free错误.

[2021-01-20 01:18] wsxy162 opened #148 "需求：补全快捷键到首选项"
快捷键 Shift+U/I/V，在首选项的快捷键页中没有列出来。我不使用 Shitf+V 来输入英文，现在没有选项可以禁用掉它。
我知道输入法中尽管叫做中/英模式，但其实不是按输入中英文来区别的，而是 commit 进入的方向不同来区分。比如打字 commit 进拼音框（preedit）叫做中文模式，直接 commit 进程序叫英文模式。这是个历史习惯问题，如果不拘泥于中英文模式的叫法，把  V 模式合并进中文模式也不是不可以，很多成熟的商业中文输入法中也是这么处理。

[2021-01-20 01:56] epico commented on #148
v 模式可以输入英文啊。

[2021-01-20 02:14] wsxy162 commented on #148
是的这个功能能用，我的原请求是把它缺少的快捷键设置补充到设置页上。UIV 模式在设置界面上不存在，只在用户按相应键后才知道它们的存在。
V 模式这个功能使用上也不方便，每个英文单词都要用 Shift+V 就很麻烦。因为这个 V 功能的存在还造成输入的不一致，比如其他字母使用 Shift+字母键，可以输出大写的字母，但唯独在 V 上就必须得按两次 V。

[2021-01-20 02:26] epico commented on #148
请问您建议的英语输入行为是？

[2021-01-20 02:36] wsxy162 commented on #148
我更习惯于中英文混输，这是以前输入法带来的习惯。击入字母显示到 preedit 框里，如果向上屏的是中文，按空格键选第一个候选词上屏；如果想上屏的是英文，按回车键上屏英文。
说到英文上屏，这也与这个 issue 有关 #93 。

[2021-01-20 02:47] epico commented on #148
好像现在就是这样实现的，只是不能显示原始输入而已。

[2021-01-20 02:48] wsxy162 commented on #148
单独的英文联想功能是有用的，但不应该做成按一次 Shift+V 输一个英文单词的形式。V 模式做成像简繁体切换的模式那样，在该模式下就可以持续的输入英文并使用英文联想功能了。当然这个 V 模式的快捷键不应该与常规输入 Shift+V 想上屏大写的 V 冲突。

这是我设想的输入模式，也是问题描述里提到的，原有的中/英文模式其实跟输入中英文没关系。

[2021-01-20 02:50] wsxy162 commented on #148
现在的进入 V 模式的方式会跟普通输入中打大写 V 冲突。

[2021-01-20 02:51] epico commented on #148
英文联想功能，可以考虑试一试 ibus-typing-booster.

[2021-01-20 02:56] wsxy162 commented on #148
在 ibus-table 里对应中英文模式的是 table commit 和 direct commit。如果参考过来，libpinyin 应该是拼写模式和直输模式。这可能比原来的中英文模式设定更能安排功能。

[2021-01-20 12:06] wsxy162 commented on #148
我想最简单的对 V 模式的改动是把快捷键改成其他非字母键，就不会影响到常规打字了。比如设置成 Shift+：冒号。

[2021-02-01 15:01] wsxy162 commented on #148
在中文模式下打英文不能连贯使用 Shift 打大写字母，比如可以直接打 IBus，但不能直接打 openSUSE。
抱歉，才发现原来两个 ibus-pinyin 的 issue 都开错到这边。

[2021-09-15 06:41] kloczek opened #150 "missing 2.6.1 git tag?"
On https://sourceforge.net/projects/libpinyin/files/libpinyin/ is available 2.6.1 tar ball but in git repo there is no that version git tag.

[2021-09-15 07:22] epico commented on #150
Okay, I just git pushed the tag.

Thanks for the reminder! :)

[2021-09-15 07:35] kloczek commented on #150
Thank you :)

[2021-09-16 02:59] #150 closed

[2021-09-16 03:02] #148 closed

[2021-09-16 03:02] #139 closed

[2021-09-16 03:03] #136 closed

[2021-09-16 03:05] epico commented on #134
Please discuss with the Ubuntu community, thanks!

Also you can ask Ubuntu to update the libpinyin package version.

[2021-09-16 03:07] #134 closed

[2021-09-16 03:15] epico commented on #120
Does this still happen with libpinyin 2.6.0 tar ball?

[2021-09-16 03:17] epico commented on #102
没有回复，关闭问题。

[2021-09-16 03:17] #102 closed

[2021-09-16 03:18] #97 closed

[2021-09-16 03:20] epico commented on #95
No response, close issue.

[2021-09-16 03:20] #95 closed

[2021-09-16 17:48] PureTryOut commented on #120
Oh uh, I seem to have enabled x86 quite a while ago so I guess it doesn't :shrug:
Closing for now, I can always re-enable it later.

[2021-09-16 17:48] #120 closed

[2021-09-16 17:48] PureTryOut commented on #128
Why did you close this? As far as I can see, this hasn't been solved.

[2021-09-17 02:46] epico commented on #128
Sorry, I am not CMake expert.

Hope some one can help with this issue.

[2021-12-14 20:55] hosiet commented on #140
Just FYI, tkrzw C/C++ library has been packaged in deb-based Linux distributions. It will appear in Debian Testing (Debian 12) and Ubuntu 22.04 LTS.

[2021-12-15 04:07] epico commented on #140
I  think Tkrzw uses std::string_view.

Does string_view support to store any byte array which may contain zero byte like '\0'?

[2021-12-16 09:31] Arfrever commented on #140
https://en.cppreference.com/w/cpp/header/string_view
https://en.cppreference.com/w/cpp/string/basic_string_view

It seems to work:
[code]

[2021-12-17 03:37] epico commented on #140
Sorry, another question about Tkrzw.

Does Tkrzw support partial data load/store?

[2022-01-11 23:41] Arfrever commented on #140
I do not know API of Kyoto Cabinet or Tkrzw.
How is partial data load/store done with Kyoto Cabinet?

[2022-01-12 02:09] epico commented on #140
Sorry, partial data load/store is a feature in Berkeley DB.

It seems Kyoto Cabinet doesn't support partial data load/store, either.

[2022-01-12 02:10] epico commented on #140
Sorry, partial data load/store is a feature in Berkeley DB.

It seems Kyoto Cabinet doesn't support partial data load/store, either.

[2022-01-17 13:40] englianhu commented on #77
《问百度》🎼
不晓得去哪儿找（或添加）词汇、术语等辞典呢？

[2022-06-06 09:46] epico commented on #143
I just find some time to work on this issue, I think it is fixed now.

[2022-07-20 07:26] blickers opened #153 "为什么前三个候选词不是词频最高的词，而是 libpinyin 的胡乱组合？"
尝试给 libpinyin 的 data 目录下 opengram.table 末尾添加了几条词，例如 “造山带旋回”，设置词频为 999999。重新编译后，用 Ibus-libpinyin 尝试打出添加的词，可以成功出现在候选词列表上，但是总是出现在第四个，前三个候选词总是 libpinyin 自己胡乱拼凑出来的东西，诸如 “早善待旋回”、“早善待选会”、“早善待选惠”，期望打出的 “造山带旋回” 却默认出现在第四个，而不是第一个。

这实在让人觉得非常困扰。建议设置一个选项，让匹配拼音的词按词频顺序出现在候选词列表的前三位。

[2022-07-21 01:52] epico commented on #153
在设置对话框中，导入词库即可。

[2022-07-21 07:11] blickers commented on #153
我的词库300多万词，试过你说的办法，导入到用户词库中，结果是每次开机后，切换到中文输入法，开始打字都会读盘半天，等待很长一段时间，等用户词库载入内存后才能正常打字（而且在SSD里）。无法忍受。估计原因是用户词库存储成单个数据库文件，读取慢、效率低，特别是当用户词库很大时，问题就凸显出来。

于是我将大词库拆散，去重补充到 art.table、economy.table、history.table、nature.table、sport.table、culture.table、geology.table、life.table、people.table、society.table、science.table、technology.table、opengram.table 这几个文件中，重新编译。每次开机第一次中文打字载入等很长时间的问题解决了。就是期望出现在第一的词条总是默认出现在第四位置，实

[2022-07-21 07:26] blickers commented on #153
按理说，完全符合输入拼音的词条（例如前面所说的 “造山带旋回”），应该默认出现在候选词第一位置，libpinyin predict 组合出的预测词条（诸如 “早善待旋回”、“早善待选会”、“早善待选惠” 这些乱七八糟的预测）应该放在后面。

目前的 libpinyin 在处理这个问题的时候逻辑上似乎反了，无论词库里面有没有符合拼音的词条，一律先把 predict 预测放在第一、第二、第三位置，然后再放词库中与拼音对应的词条。而所谓的 “预测” 经常是乱七八糟的（就像 “早善待旋回”、“早善待选会”、“早善待选惠” 这种毫无意义的 predict ）。

正常的做法应该是，现检查词库里面有没有符合拼音的词条，有则按词频顺序把它放到第一、第二、第三......候选词位置上，紧接着后面再显示 libpinyin 预测的组合词条。

[2022-09-25 10:01] HymanZHAN commented on #83
（菜鸟问题）想问一下，怎么样的词库是兼容GPLv3+ 或 ASL 2.0的？如果我照着辞典条目手打生成的词库会有侵权问题吗？

[2022-09-26 03:27] epico commented on #83
可能还是会有问题的，如果你的词库和辞典内容很相似的话。

[2022-09-26 03:28] epico commented on #83
可能还是会有问题的，如果你的词库和辞典内容很相似的话。

[2022-09-26 05:23] HymanZHAN commented on #83
那怎么能够界定是相似还是不相似呢？乱序或者某些条目不包括吗？
或者换个做法，我在过辞典或者常用词表的条目的时候，如果libpinyin自带有的词条跳过，如果没有就添加，这样也还是会有问题吗？
主要问题还是libpinyin有很多基础的词汇都没有，不是什么“自然”“诗歌”“游戏”之类某一特定门类下的词汇，是比如qiang'huo->“枪火”， nan'he->“难喝”这样非常常用的生活、口语词汇都没有，导致日常使用效率远不及其他更成熟的输入法。如果有可能我希望能参与修复这个问题。
---
p.s. 输入法词库的版权问题是我一直有的一点疑惑，因为编写辞典字典的话常用词表肯定是必要的参考资料，那肯定也会包含词表中的内容，这种怎么界定侵权与否？毕竟常用词汇就这么多，也不是谁拥有词汇的版权，输入法里也没有辞典中的其他内容（释义，例句等）。

[2022-09-26 07:48] suokunlong commented on #83
这个问题，我觉得最靠谱的就是自己整理出一个语料库，然后使用python的“结巴” (jieba) 库，自己爬一个词频表。语料库越丰富，爬出来的词频结果越准确。这个结巴库本身是MIT授权协议。

https://pypi.org/project/jieba/

[2022-09-26 08:31] gmkzwwg opened #154 "在用户lua脚本中使用分隔符会转为英文句点的问题"
您好！
在我使用 libpinyin 的 User Lua Script 添加我需要条目时，
意图键入“dian"来获取分隔符“·”（Unicode：U+00B7）。
但在输入法的候选栏中，分隔符“·”被自动转换为了英文句号“.”（Unicode：U+002E）。（并且选择该项后，键入的也是英文句号）
请问这是我个人的操作不当，还是属于程序BUG，又如何解决呢？其他的符号键入均无问题，参照了您给出的教程。

感谢！

LUA 脚本片段如下：

`_MATH_TABLE` = {
  ['dian'] = {"·"},
中间省略
}

function getMathTablePhrase(input)
  local ret
  ret = _MATH_TABLE[input]
  return ret
end

ime.register_trigger("getMathTablePhra

[2022-09-26 11:59] HymanZHAN commented on #83
感觉准备语料库要花的功夫比直接扒词表更大啊（捂脸）

[2022-09-26 12:29] suokunlong commented on #83
“扒词表”你指的是从别人现成的词频表中去摘抄或抓取吗？汉子和众所周知的词语本身是没有版权的，但是别人将汉子和词语整理成词频表等具有统计意义的成果就具有版权了，容易引发争议。如果是我们使用一个MIT协议的词频统计分析软件，根据公开的网页内容、学术论文、论坛讨论、新闻报道等自己去统计词语出现的频率，得到的成果就属于新的创作成果。

[2022-09-26 14:01] HymanZHAN commented on #83
抱歉我可能没表达清楚，我想做的事情和OP你的原Issue不太一样，只不过看到这个open issue下面提到了词库的版权问题所以插楼问了问，抱歉抱歉。
我想做的是*拓展*词库，以囊括不常被归类到某一类别（《自然科学》《诗词歌赋》《名人名言》《游戏动漫》等）的生活常用词，而非调整词频（当然词频对使用体验也非常重要！）。很多这些日常用词如我上头举例的“难喝”、“枪火”或是近十年才愈发成为常见事物的“充电宝”，不是词频低是根本没有：

[Screencast from 09-26-2022 09:59:03 PM.webm](https://user-images.githubusercontent.com/26806995/192295888-ee71d244-870b-46bc-b4e4-9b60189292cf.webm)

比较棘手的是，这已经是我导入过 https://github.c

[2022-09-26 15:54] HymanZHAN commented on #83
如果可以吸收那确实好不少，但清华这个和[libpinyin-dict](https://github.com/broly8/libpinyin-dict)一样不解决我的问题。我还是另开一个issue吧…

[2022-09-27 02:05] epico commented on #83
有一些词库在发布的时候，会说明使用的是 GPLv3+ 或者 ASL 2.0 license.

[2022-09-27 02:14] epico commented on #154
请下载 ibus-libpinyin 的源代码 tar ball, 在 lua 子目录有一个工具叫 lua-ext-console, 可以用来调试 Lua Script.

上边的代码，最后一行好像有语法错误...